04-opportunity-discovery/starter.json
{
  "name": "Opportunity Discovery — Demo Starter",
  "description": "Refactored Opportunity Discovery workflow that relies on a shared source adapter for candidate-account normalization, uses one bounded agentic synthesis pass for buying-signal scoring, and delivers deterministic Slack and email digests without raw transport API calls.",
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "04-opportunity-discovery-starter-v2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "04-opportunity-discovery-starter",
  "tags": [
    "pipeline-forecasting",
    "n8n",
    "starter",
    "reference"
  ],
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "od-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1160,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "od-ctx-1",
              "name": "workflow_id",
              "type": "string",
              "value": "04-opportunity-discovery"
            },
            {
              "id": "od-ctx-2",
              "name": "workflow_name",
              "type": "string",
              "value": "Opportunity Discovery"
            },
            {
              "id": "od-ctx-3",
              "name": "mode",
              "type": "string",
              "value": "starter"
            },
            {
              "id": "od-ctx-4",
              "name": "trigger_type",
              "type": "string",
              "value": "schedule"
            },
            {
              "id": "od-ctx-5",
              "name": "lookback_days",
              "type": "number",
              "value": 14
            },
            {
              "id": "od-ctx-6",
              "name": "delivery_mode",
              "type": "string",
              "value": "slack_and_email"
            },
            {
              "id": "od-ctx-7",
              "name": "dry_run",
              "type": "boolean",
              "value": true
            },
            {
              "id": "od-ctx-8",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $env.OD_STARTER_SOURCE_API_BASE_URL || \"https://demo.backstory.local\" }}"
            },
            {
              "id": "od-ctx-9",
              "name": "default_channel_id",
              "type": "string",
              "value": "={{ $env.OD_STARTER_CHANNEL_ID || \"YOUR_SLACK_CHANNEL_ID\" }}"
            },
            {
              "id": "od-ctx-10",
              "name": "summary_email",
              "type": "string",
              "value": "={{ $env.OD_STARTER_SUMMARY_EMAIL || \"demo@example.com\" }}"
            },
            {
              "id": "od-ctx-11",
              "name": "from_email",
              "type": "string",
              "value": "={{ $env.BACKSTORY_NO_REPLY_EMAIL || \"success@backstory.ai\" }}"
            },
            {
              "id": "od-ctx-12",
              "name": "engagement_threshold",
              "type": "number",
              "value": 35
            },
            {
              "id": "od-ctx-13",
              "name": "max_accounts",
              "type": "number",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "od-config",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -900,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "od-src-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "od-src-2",
              "name": "source_system",
              "type": "string",
              "value": "opportunity_discovery_source"
            },
            {
              "id": "od-src-3",
              "name": "source_path",
              "type": "string",
              "value": "/opportunity-discovery/starter-candidates"
            },
            {
              "id": "od-src-4",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "od-src-5",
              "name": "source_body",
              "type": "json",
              "value": "={{ { lookback_days: $json.lookback_days, engagement_threshold: $json.engagement_threshold, max_accounts: $json.max_accounts, mode: $json.mode, dry_run: $json.dry_run } }}"
            },
            {
              "id": "od-src-6",
              "name": "default_channel_id",
              "type": "string",
              "value": "={{ $json.default_channel_id }}"
            },
            {
              "id": "od-src-7",
              "name": "summary_email",
              "type": "string",
              "value": "={{ $json.summary_email }}"
            },
            {
              "id": "od-src-8",
              "name": "from_email",
              "type": "string",
              "value": "={{ $json.from_email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "od-source-contract",
      "name": "Candidate Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -620,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_SOURCE_ADAPTER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "od-source-adapter",
      "name": "Load Candidate Inputs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -340,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "od-prompt-1",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON only with keys account_name, confidence, estimated_amount, signal_summary, evidence, recommended_action, should_alert, and owner_name.\\n\\nYou are scoring hidden pipeline opportunities. Use MCP only for enrichment and analysis, not for delivery or routing.\\n\\nRun context:\\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\\n\\nSource record:\\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}\\n\\nRules:\\n- Set should_alert=true only when there is credible buying intent without an active open opportunity.\\n- confidence must be high, medium, or low.\\n- evidence must be an array of short factual bullets.\\n- recommended_action must be one clear next step for the owner.\\n- Keep signal_summary under 220 characters."
            }
          ]
        },
        "options": {}
      },
      "id": "od-build-prompt",
      "name": "Build Discovery Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are a pipeline-forecasting analyst. Use Backstory MCP only for enrichment. Output JSON only and keep all delivery deterministic."
        }
      },
      "id": "od-agent",
      "name": "Generate Opportunity Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        120
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "od-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        220,
        320
      ],
      "credentials": {
        "anthropicApi": {
          "id": "RH89X48uFH0LBJfi",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "od-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        500,
        320
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "Q1kXqY8UNNjUmYLH",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || item.message || '{}';\nconst cleaned = String(raw).trim().replace(/^```json\\s*/i, '').replace(/^```/, '').replace(/```$/, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    account_name: item.account_name || item.accountName || item.recordSummary || 'Unknown Account',\n    confidence: 'low',\n    estimated_amount: item.estimated_amount || 0,\n    signal_summary: cleaned || 'No structured analysis returned.',\n    evidence: [],\n    recommended_action: 'Review the source record manually.',\n    should_alert: false,\n    owner_name: item.owner || item.accountOwner || ''\n  };\n}\nconst confidence = ['high', 'medium', 'low'].includes(String(parsed.confidence || '').toLowerCase())\n  ? String(parsed.confidence).toLowerCase()\n  : 'medium';\nconst estimatedAmount = Number(parsed.estimated_amount || parsed.estimatedAmount || item.amount || 0) || 0;\nreturn [{\n  json: {\n    ...item,\n    account_name: parsed.account_name || item.account_name || item.accountName || 'Unknown Account',\n    owner_name: parsed.owner_name || item.owner || item.accountOwner || '',\n    confidence,\n    estimated_amount: estimatedAmount,\n    signal_summary: parsed.signal_summary || 'No signal summary returned.',\n    evidence: Array.isArray(parsed.evidence) ? parsed.evidence : [],\n    recommended_action: parsed.recommended_action || 'Review the opportunity manually.',\n    should_alert: parsed.should_alert !== false,\n    analysis_json: parsed\n  }\n}];"
      },
      "id": "od-parse",
      "name": "Parse Opportunity Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((entry) => entry.json);\nconst alertItems = items.filter((item) => item.should_alert);\nconst config = items[0] || {};\nconst rank = { high: 0, medium: 1, low: 2 };\nalertItems.sort((left, right) => (rank[left.confidence] ?? 3) - (rank[right.confidence] ?? 3) || (right.estimated_amount || 0) - (left.estimated_amount || 0));\nconst buckets = { high: [], medium: [], low: [] };\nfor (const item of alertItems) {\n  const bucket = buckets[item.confidence] || buckets.medium;\n  bucket.push(item);\n}\nconst formatCurrency = (value) => {\n  const numeric = Number(value || 0);\n  return numeric > 0 ? `$${numeric.toLocaleString()}` : 'Amount TBD';\n};\nconst sectionOrder = [\n  ['high', '🟢 High Confidence'],\n  ['medium', '🟡 Medium Confidence'],\n  ['low', '⚪ Watch List']\n];\nconst sections = [];\nfor (const [key, label] of sectionOrder) {\n  const entries = buckets[key];\n  if (!entries.length) continue;\n  const lines = entries.flatMap((item) => {\n    const evidence = item.evidence.slice(0, 2).map((line) => `- ${line}`);\n    return [\n      `• *${item.account_name}* | ${formatCurrency(item.estimated_amount)} | ${item.owner_name || 'Owner TBD'}`,\n      `  ${item.signal_summary}`,\n      ...evidence.map((line) => `  ${line}`),\n      `  👉 ${item.recommended_action}`,\n    ];\n  });\n  sections.push([`*${label}*`, ...lines].join('\\n'));\n}\nconst reportDate = new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });\nconst headline = alertItems.length\n  ? `🔍 *Weekly Opportunity Discovery* — ${alertItems.length} hidden opportunities found`\n  : '🔍 *Weekly Opportunity Discovery* — no qualifying hidden opportunities this week';\nconst slackBody = [headline, reportDate, '', ...(sections.length ? sections : ['No accounts cleared the confidence threshold this run.']), '', '_Powered by Backstory MCP — deterministic delivery_'].join('\\n');\nconst htmlSections = sections.length\n  ? sections.map((section) => `<pre>${section.replace(/[&<>]/g, (char) => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;' }[char]))}</pre>`).join('')\n  : '<p>No accounts cleared the confidence threshold this run.</p>';\nconst htmlEmail = `<h2>Weekly Opportunity Discovery</h2><p>${reportDate}</p>${htmlSections}<p><em>Powered by Backstory MCP — deterministic delivery</em></p>`;\nreturn [{ json: {\n  workflow_id: '04-opportunity-discovery',\n  workflow_name: 'Opportunity Discovery',\n  delivery_channel_id: config.default_channel_id || '',\n  summary_email: config.summary_email || '',\n  from_email: config.from_email || 'success@backstory.ai',\n  slack_body: slackBody,\n  email_subject: `Weekly Opportunity Discovery — ${alertItems.length} account${alertItems.length === 1 ? '' : 's'} to review`,\n  html_email: htmlEmail,\n  plain_text: slackBody,\n  opportunity_count: alertItems.length\n} }];"
      },
      "id": "od-aggregate",
      "name": "Aggregate Weekly Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        120
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.delivery_channel_id }}"
        },
        "text": "={{ $json.slack_body }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "od-post-slack",
      "name": "Post Weekly Digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1060,
        40
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "aA0zZkZuOO7odmEe",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.from_email }}",
        "toEmail": "={{ $json.summary_email }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html_email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "od-send-email",
      "name": "Send Weekly Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1060,
        200
      ],
      "credentials": {
        "smtp": {
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Candidate Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Source Contract": {
      "main": [
        [
          {
            "node": "Load Candidate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Candidate Inputs": {
      "main": [
        [
          {
            "node": "Build Discovery Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discovery Prompt": {
      "main": [
        [
          {
            "node": "Generate Opportunity Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Opportunity Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Generate Opportunity Analysis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Opportunity Analysis": {
      "main": [
        [
          {
            "node": "Parse Opportunity Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Opportunity Analysis": {
      "main": [
        [
          {
            "node": "Aggregate Weekly Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Weekly Digest": {
      "main": [
        [
          {
            "node": "Post Weekly Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Weekly Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
