25-implementation-gap-audit/full.json
{
  "updatedAt": "2026-05-01T00:00:00.000Z",
  "createdAt": "2026-05-01T00:00:00.000Z",
  "id": "25-implementation-gap-audit-production",
  "name": "Implementation Gap Audit — Production Template",
  "description": "Audits a customer stack against validated assets, selected adapter packs, and certification coverage to identify what exists today and what still needs productization work.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-25",
      "name": "Implementation Audit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        220
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "implementation-gap-audit",
        "responseMode": "lastNode"
      },
      "notes": "Receive a workflow request plus current stack details for a customer, pilot, or internal implementation review.",
      "notesInFlow": true
    },
    {
      "id": "params-25",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "backlogWebhookUrl",
              "type": "string",
              "value": "={{ $env.IGA_BACKLOG_WEBHOOK_URL || \"\" }}"
            },
            {
              "name": "priorityModel",
              "type": "string",
              "value": "risk-x-repeatability"
            },
            {
              "name": "supportedOrchestrators",
              "type": "string",
              "value": "n8n, Make, Power Automate, Zapier, Workato, custom code"
            },
            {
              "name": "assetRegistryUrl",
              "type": "string",
              "value": "={{ $env.IGA_ASSET_REGISTRY_URL || \"\" }}"
            },
            {
              "name": "certificationScriptRef",
              "type": "string",
              "value": "npm run certify:adaptation"
            },
            {
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.IGA_DRY_RUN !== \"false\" }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Keep scoring preferences and backlog destinations configurable so the audit can be reused by solutions, product, or engineering.",
      "notesInFlow": true
    },
    {
      "id": "normalize-25",
      "name": "Normalize Coverage Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        220
      ],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst customerConfig = payload.customerConfig || payload.stackConfig || {};\nconst selectedPacks = Array.isArray(payload.selectedPacks)\n  ? payload.selectedPacks\n  : Array.isArray(customerConfig.selected_packs)\n    ? customerConfig.selected_packs\n    : [];\nconst adapterPacks = Array.isArray(payload.adapterPacks)\n  ? payload.adapterPacks\n  : Array.isArray(payload.adapterPackManifests)\n    ? payload.adapterPackManifests\n    : [];\nconst selectedRoles = new Set(selectedPacks.map((pack) => typeof pack === 'string' ? '' : pack.role || ''));\nreturn [{ json: {\n  workflowGoal: payload.workflowGoal || payload.goal || 'Unknown workflow goal',\n  requestedWorkflowId: payload.workflowId || customerConfig.implementation?.workflow_id || '',\n  orchestrator: payload.orchestrator || payload.automationPlatform || customerConfig.implementation?.target_orchestrator || 'unknown',\n  crm: payload.crm || 'unknown',\n  meetingSource: payload.meetingSource || payload.noteTaker || 'unknown',\n  delivery: payload.delivery || payload.deliverySurface || 'unknown',\n  identityLayer: payload.identityLayer || 'unspecified',\n  constraints: payload.constraints || [],\n  customerConfigRef: payload.customerConfigRef || payload.configRef || '',\n  customerConfig,\n  selectedPacks,\n  selectedPackIds: selectedPacks.map((pack) => typeof pack === 'string' ? pack : pack.pack_id || pack.packId || '').filter(Boolean),\n  adapterPacks,\n  certifiedScenarios: payload.certifiedScenarios || customerConfig.certification?.required_scenarios || [],\n  missingPackRoles: (payload.requiredPackRoles || ['crm', 'delivery']).filter((role) => !selectedRoles.has(role)),\n  backlogWebhookUrl: $('Workflow Parameters').first().json.backlogWebhookUrl,\n  priorityModel: $('Workflow Parameters').first().json.priorityModel,\n  supportedOrchestrators: $('Workflow Parameters').first().json.supportedOrchestrators,\n  assetRegistryUrl: $('Workflow Parameters').first().json.assetRegistryUrl,\n  certificationScriptRef: $('Workflow Parameters').first().json.certificationScriptRef\n} }];"
      },
      "notes": "Convert customer-specific intake language into a stable assessment object the audit logic can score consistently.",
      "notesInFlow": true
    },
    {
      "id": "score-25",
      "name": "Score Productization Gaps",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        220
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Assess the implementation coverage of this workflow request.\n\nWorkflow goal: {{ $json.workflowGoal }}\nRequested workflow ID: {{ $json.requestedWorkflowId }}\nOrchestrator: {{ $json.orchestrator }}\nCRM: {{ $json.crm }}\nMeeting source: {{ $json.meetingSource }}\nDelivery: {{ $json.delivery }}\nIdentity layer: {{ $json.identityLayer }}\nCustomer config ref: {{ $json.customerConfigRef }}\nSelected packs: {{ JSON.stringify($json.selectedPacks, null, 2) }}\nAdapter pack manifests: {{ JSON.stringify($json.adapterPacks, null, 2) }}\nCertified scenarios: {{ JSON.stringify($json.certifiedScenarios) }}\nMissing pack roles: {{ JSON.stringify($json.missingPackRoles) }}\nConstraints: {{ JSON.stringify($json.constraints) }}\n\nReturn:\n- what is likely validated already\n- what is recipe-only vs generic-only\n- missing adapters or contract layers\n- certification or customer-config gaps\n- backlog priority ordered by repeatability and rollout risk",
        "options": {
          "systemMessage": "You are an implementation gap analysis assistant that turns one-off requests into reusable productization backlogs using adapter-pack and customer-config assets."
        }
      },
      "notes": "Use this step to classify coverage rather than jumping straight to a custom build plan.",
      "notesInFlow": true
    },
    {
      "id": "model-25",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -320,
        40
      ],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "deliver-25",
      "name": "Deliver Gap Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backlogWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { workflowGoal: $json.workflowGoal, requestedWorkflowId: $json.requestedWorkflowId, customerConfigRef: $json.customerConfigRef, selectedPackIds: $json.selectedPackIds || [], missingPackRoles: $json.missingPackRoles || [], analysis: $json.output || $json.text || \"Assessment required\" } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "notes": "Replace this with Slack, Teams, Jira, Linear, or another backlog destination. Keep the final scorecard and next-step recommendation attached.",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "configure-http-auth",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "iga-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -140,
        440
      ],
      "notes": "Backstory MCP is available only for factual library, account, and workflow enrichment. It must not perform delivery side effects.",
      "notesInFlow": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "IGA-deliver-25-gate-1",
              "leftValue": "={{ $('Workflow Parameters').first().json.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "IGA-deliver-25-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "iga-delivery-gate-deliver-25",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        220
      ]
    }
  ],
  "connections": {
    "Implementation Audit Webhook": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Normalize Coverage Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Coverage Request": {
      "main": [
        [
          {
            "node": "Score Productization Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Score Productization Gaps",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Score Productization Gaps": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Score Productization Gaps",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Deliver Gap Audit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25-implementation-gap-audit-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  }
}
