38-account-planning-strategy/full.json
{
  "name": "Account Planning & Strategy — Production Template",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Account-level strategic brief\nreturn [{ json: {\n  account_name: 'ABBYY',\n  opportunity_hint: 'Data Governance'\n}}];"
      },
      "id": "1f6dbf05-125f-4a0a-95e8-9f9ca2239e54",
      "name": "Set Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -672
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "find_account",
          "mode": "list",
          "cachedResultName": "find_account"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "account_name": "={{ $('Set Target').first().json.account_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "abe5e666-16d1-459a-9e86-89b8827740a8",
      "name": "Find Account",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        1792,
        -672
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse find_account response, extract account_id and select the right opportunity\nconst raw = $json;\nconst target = $('Set Target').first().json;\n\nlet payload = raw;\nif (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n  const t = raw.content[0].text;\n  payload = (typeof t === 'string') ? JSON.parse(t) : t;\n}\n\nconst accountId = payload?.peopleai_account_id;\nconst accountName = payload?.name;\nconst opportunities = payload?.opportunities || [];\n\nif (!accountId) {\n  throw new Error(`Could not resolve account ID for \"${target.account_name}\". find_account returned: ${JSON.stringify(payload).slice(0,300)}`);\n}\nif (opportunities.length === 0) {\n  throw new Error(`No opportunities found for account \"${accountName}\".`);\n}\n\nlet selectedOpp;\nconst hint = (target.opportunity_hint || '').toLowerCase().trim();\nif (hint) {\n  selectedOpp = opportunities.find(o => (o.opportunity_name || '').toLowerCase().includes(hint));\n}\nif (!selectedOpp) {\n  selectedOpp = [...opportunities].sort((a, b) => (b.engagement_level || 0) - (a.engagement_level || 0))[0];\n}\n\nreturn [{ json: {\n  peopleai_account_id: accountId,\n  peopleai_opportunity_id: selectedOpp.peopleai_opportunity_id,\n  account_name: accountName,\n  account_domain: payload?.domain,\n  opportunity_name: selectedOpp.opportunity_name,\n  opportunity_amount: selectedOpp.amount,\n  opportunity_close_date: selectedOpp.close_date,\n  opportunity_engagement_level: selectedOpp.engagement_level,\n  opportunity_owner: selectedOpp.owner?.name,\n  opportunity_type: selectedOpp.type,\n  all_opportunities: opportunities.map(o => ({ id: o.peopleai_opportunity_id, name: o.opportunity_name })),\n  ...target\n} }];"
      },
      "id": "a980df2a-afad-4cdd-a552-ee0c66df95ea",
      "name": "Resolve IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -672
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "get_account_status",
          "mode": "list",
          "cachedResultName": "get_account_status"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_account_id": "={{ $('Resolve IDs').first().json.peopleai_account_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_account_id",
              "displayName": "peopleai_account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a9acc8a4-96e4-4280-9c33-2312acd13eeb",
      "name": "Get Account Status",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        2256,
        -672
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "get_recent_account_activity",
          "mode": "list",
          "cachedResultName": "get_recent_account_activity"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_account_id": "={{ $('Resolve IDs').first().json.peopleai_account_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_account_id",
              "displayName": "peopleai_account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "22108f0b-0143-4261-8e8e-3f125eaf507e",
      "name": "Get Recent Account Activity",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        2464,
        -672
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "get_engaged_people",
          "mode": "list",
          "cachedResultName": "get_engaged_people"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_account_id": "={{ $('Resolve IDs').first().json.peopleai_account_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_account_id",
              "displayName": "peopleai_account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "170acea1-b8fd-4d18-ab30-377b21d10524",
      "name": "Get Engaged People",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        2688,
        -672
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "situation_search",
          "mode": "list",
          "cachedResultName": "situation_search"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "opportunity_id": "={{ $('Resolve IDs').first().json.peopleai_opportunity_id }}",
            "query": "Expansion strategy and account growth — what tactics moved similar accounts forward?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "opportunity_id",
              "displayName": "opportunity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6267e93c-652e-4e62-9b8b-419a69f639ef",
      "name": "Situation Search",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        2912,
        -672
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bulletproof merge: always returns strings, never [object Object]\nfunction extractText(nodeName) {\n  try {\n    const item = $(nodeName).first();\n    if (!item || !item.json) return '(no data returned)';\n    const raw = item.json;\n    let payload = raw;\n    if (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n      payload = raw.content[0].text !== undefined ? raw.content[0].text : raw.content[0];\n    } else if (Array.isArray(raw) && raw[0]) {\n      payload = raw[0].text !== undefined ? raw[0].text : raw[0];\n    }\n    if (typeof payload === 'string') {\n      const trimmed = payload.trim();\n      if (trimmed.startsWith('{') || trimmed.startsWith('[')) {\n        try { return JSON.stringify(JSON.parse(trimmed), null, 2); } catch(e) { return payload; }\n      }\n      return payload;\n    }\n    return JSON.stringify(payload, null, 2);\n  } catch(e) {\n    return `(extraction error: ${e.message})`;\n  }\n}\n\nconst resolved = $('Resolve IDs').first().json;\nreturn [{ json: {\n  opportunityName: resolved.opportunity_name,\n  accountName: resolved.account_name,\n  opportunityOwner: resolved.opportunity_owner,\n  opportunityAmount: resolved.opportunity_amount,\n  opportunityCloseDate: resolved.opportunity_close_date,\n  // pass-through user-set fields\n  ...$('Set Target').first().json,\n  accountStatus: extractText('Get Account Status'),\n  recentActivity: extractText('Get Recent Account Activity'),\n  engagedPeople: extractText('Get Engaged People'),\n  situationSearch: extractText('Situation Search'),\n} }];"
      },
      "id": "db164647-08ae-49fd-a5de-9ddb315fd1bd",
      "name": "Merge MCP Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst fmt$ = (n) => n ? '$' + Number(n).toLocaleString() : 'Unknown';\n\nconst prompt = `You are a strategic account planner using Backstory (People.ai) signal data.\n\nAccount: ${j.accountName}\nAnchor Opportunity: ${j.opportunityName} (${fmt$(j.opportunityAmount)}, owner: ${j.opportunityOwner})\n\n## Account Status\n${j.accountStatus}\n\n## Recent Account Activity\n${j.recentActivity}\n\n## Engaged Stakeholders\n${j.engagedPeople}\n\n## Comparable Account Expansion Plays (Situation Search)\n${j.situationSearch}\n\nProduce a Slack-formatted account plan brief:\n\n:clipboard: *Account Plan — ${j.accountName}*\n\n*Account Snapshot* — health, momentum, key risks\n\n*Recent Activity Summary* — what happened in the last 30 days\n\n*Strategic Priorities* — top 2-3 focus areas\n\n*Similar Account Plays* — 2-3 comparable accounts and what worked\n\n*Recommended Next Steps* — 3 specific actions for the account team this week\n\nBe direct. Use Slack mrkdwn (*bold*, • bullets).`;\n\nreturn [{ json: { ...j, prompt } }];"
      },
      "id": "aacda6a2-ba96-4de2-a352-b7eafa37ed5d",
      "name": "Build Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -672
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "bd311434-c418-4f96-9a22-03a781b90463",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3536,
        -672
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "99bab7d4-aeb1-4871-ab81-7d553a6aa5b0",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3536,
        -464
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output || '';\nreturn [{ json: { slackText: text } }];"
      },
      "id": "2873de80-9714-42d5-82e1-b6041c6ae788",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3856,
        -672
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.APS_DEFAULT_CHANNEL_ID || \"\" }}",
          "mode": "id"
        },
        "text": "={{ $json.slackText }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "3e72946c-7b52-483c-8c74-6d63579f8c4b",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4096,
        -672
      ],
      "webhookId": "166fbfa0-e410-4ade-a9d4-db01742a683c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/planning",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1264,
        -672
      ],
      "id": "b72579b7-5fe9-4b06-bb1c-e50d41c9dd5a",
      "name": "Webhook",
      "webhookId": "3f2e7b4f-e9ed-4bff-a6f0-685c6d2ab2fe"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=:hourglass_flowing_sand: creating account plan strategy",
        "options": {}
      },
      "id": "12e3b4da-0c7c-4058-8804-61aba7499d5b",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1472,
        -832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "APS-3e72946c-7b52-483c-8c74-6d63579f8c4b-gate-1",
              "leftValue": "={{ $env.APS_DRY_RUN !== \"false\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "APS-3e72946c-7b52-483c-8c74-6d63579f8c4b-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aps-delivery-gate-3e72946c-7b52-483c-8c74-6d63579f8c4b",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3876,
        -672
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Set Target": {
      "main": [
        [
          {
            "node": "Find Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Account": {
      "main": [
        [
          {
            "node": "Resolve IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve IDs": {
      "main": [
        [
          {
            "node": "Get Account Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Status": {
      "main": [
        [
          {
            "node": "Get Recent Account Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Account Activity": {
      "main": [
        [
          {
            "node": "Get Engaged People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Engaged People": {
      "main": [
        [
          {
            "node": "Situation Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situation Search": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge MCP Results": {
      "main": [
        [
          {
            "node": "Build Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "38-account-planning-strategy-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  },
  "id": "38-account-planning-strategy-production",
  "tags": [],
  "description": "Generates an account-planning strategy brief by combining account status, recent account activity, stakeholder engagement, and situation context into account-level priorities and next steps."
}
