29-digital-chief-of-staff/full.json
{
  "name": "Digital Chief of Staff — Production Template",
  "description": "Reference-quality Digital Chief of Staff workflow that uses shared sub-workflows for source access, routing, delivery rendering, calendar writing, and run summaries while reserving agent + MCP usage for enrichment and synthesis.",
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "29-digital-chief-of-staff-production-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "29-digital-chief-of-staff-production",
  "tags": [
    "strategic-intelligence",
    "n8n",
    "production",
    "reference"
  ],
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "dcos-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1560,
        -120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "digital-chief-of-staff",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dcos-webhook-trigger",
      "name": "Slash Command Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1560,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Digital Chief of Staff is compiling the briefing now.",
        "options": {}
      },
      "id": "dcos-respond",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1320,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx-1",
              "name": "workflow_id",
              "type": "string",
              "value": "29-digital-chief-of-staff"
            },
            {
              "id": "ctx-2",
              "name": "workflow_name",
              "type": "string",
              "value": "Digital Chief of Staff"
            },
            {
              "id": "ctx-3",
              "name": "mode",
              "type": "string",
              "value": "production"
            },
            {
              "id": "ctx-4",
              "name": "trigger_type",
              "type": "string",
              "value": "schedule"
            },
            {
              "id": "ctx-5",
              "name": "lookback_days",
              "type": "number",
              "value": 7
            },
            {
              "id": "ctx-6",
              "name": "delivery_mode",
              "type": "string",
              "value": "slack_and_calendar"
            },
            {
              "id": "ctx-7",
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.DCOS_DRY_RUN === \"true\" }}"
            },
            {
              "id": "ctx-8",
              "name": "source_system",
              "type": "string",
              "value": "crm_and_meeting_stack"
            },
            {
              "id": "ctx-9",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $env.DCOS_SOURCE_API_BASE_URL || \"\" }}"
            },
            {
              "id": "ctx-10",
              "name": "default_channel_id",
              "type": "string",
              "value": "={{ $env.DCOS_DEFAULT_CHANNEL_ID || \"\" }}"
            },
            {
              "id": "ctx-11",
              "name": "summary_channel_id",
              "type": "string",
              "value": "={{ $env.DCOS_SUMMARY_CHANNEL_ID || \"\" }}"
            },
            {
              "id": "ctx-12",
              "name": "briefing_user_id",
              "type": "string",
              "value": "={{ $env.DCOS_BRIEFING_USER_ID || \"\" }}"
            },
            {
              "id": "ctx-13",
              "name": "calendar_id",
              "type": "string",
              "value": "={{ $env.DCOS_CALENDAR_ID || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcos-normalize-scheduled",
      "name": "Normalize Scheduled Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{ json: {\n  workflow_id: \"29-digital-chief-of-staff\",\n  workflow_name: \"Digital Chief of Staff\",\n  mode: \"production\",\n  trigger_type: \"webhook\",\n  lookback_days: 7,\n  delivery_mode: \"slack_and_calendar\",\n  dry_run: $env.DCOS_DRY_RUN === \"true\",\n  source_system: \"crm_and_meeting_stack\",\n  source_api_base_url: $env.DCOS_SOURCE_API_BASE_URL || \"\",\n  default_channel_id: body.channel_id || $env.DCOS_DEFAULT_CHANNEL_ID || \"\",\n  summary_channel_id: body.channel_id || $env.DCOS_SUMMARY_CHANNEL_ID || \"\",\n  briefing_user_id: body.user_id || $env.DCOS_BRIEFING_USER_ID || \"\",\n  calendar_id: $env.DCOS_CALENDAR_ID || \"\",\n  requested_prompt: body.text || \"\"\n} }];"
      },
      "id": "dcos-normalize-webhook",
      "name": "Normalize Webhook Trigger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acu-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "acu-2",
              "name": "source_path",
              "type": "string",
              "value": "/dcos/account-updates"
            },
            {
              "id": "acu-3",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "acu-4",
              "name": "source_body",
              "type": "json",
              "value": "={{ { lookback_days: $json.lookback_days, requested_prompt: $json.requested_prompt || \"\" } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcos-account-contract",
      "name": "Account Update Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -980,
        -120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_SOURCE_ADAPTER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "dcos-account-source",
      "name": "Load Account Update Inputs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -700,
        -120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aup-1",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON with keys title, body, target_type, thread_key, and account_name.\\n\\nCreate a concise customer-channel update from this normalized source record and the workflow context.\\n\\nRun context:\\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\\n\\nSource record:\\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcos-account-prompt",
      "name": "Build Account Update Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are the Digital Chief of Staff account-update agent. Use MCP only for enrichment. Output JSON only."
        }
      },
      "id": "dcos-account-agent",
      "name": "Generate Account Update",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -140,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || item.message || \"{}\";\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (error) {\n  parsed = { title: item.account_name || \"Account Update\", body: raw, target_type: \"channel\", thread_key: \"\" };\n}\nreturn [{ json: { ...item, ...parsed, target_type: parsed.target_type || \"channel\" } }];"
      },
      "id": "dcos-account-parse",
      "name": "Parse Account Update JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        -120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_IDENTITY_ROUTING_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "dcos-route-target",
      "name": "Resolve Delivery Target",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        -120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_DELIVERY_RENDERER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "dcos-render-payload",
      "name": "Render Delivery Payload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        -120
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.delivery_payload.target_id }}"
        },
        "text": "={{ $json.delivery_payload.body }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "dcos-post-account",
      "name": "Post Account Update",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        980,
        -120
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "aA0zZkZuOO7odmEe",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bri-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "bri-2",
              "name": "source_path",
              "type": "string",
              "value": "/dcos/daily-briefing"
            },
            {
              "id": "bri-3",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "bri-4",
              "name": "source_body",
              "type": "json",
              "value": "={{ { lookback_days: $json.lookback_days, requested_prompt: $json.requested_prompt || \"\" } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcos-briefing-contract",
      "name": "Briefing Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -980,
        280
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_SOURCE_ADAPTER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "dcos-briefing-source",
      "name": "Load Briefing Inputs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -700,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bri-5",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON with keys briefing, calendar_event, summary_detail, and delivery_target_type.\\n\\nCreate a daily chief-of-staff briefing from this normalized source record and workflow context.\\n\\nRun context:\\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\\n\\nSource record:\\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcos-briefing-prompt",
      "name": "Build Briefing Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        280
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are the Digital Chief of Staff daily-briefing agent. Use MCP only for enrichment. Output JSON only."
        }
      },
      "id": "dcos-briefing-agent",
      "name": "Generate Daily Briefing",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -140,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || item.message || \"{}\";\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (error) {\n  parsed = { briefing: raw, calendar_event: {}, summary_detail: \"Completed briefing synthesis.\" };\n}\nreturn [{ json: { ...item, ...parsed } }];"
      },
      "id": "dcos-briefing-parse",
      "name": "Parse Briefing JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        280
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_CALENDAR_WRITER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "dcos-calendar-write",
      "name": "Write Calendar Tasks",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.briefing_user_id }}"
        },
        "text": "={{ $json.briefing }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "dcos-dm-briefing",
      "name": "DM Daily Briefing",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        700,
        280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "aA0zZkZuOO7odmEe",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_RUN_SUMMARY_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "dcos-run-summary",
      "name": "Build Run Summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.delivery_target.target_id || $json.summary_channel_id }}"
        },
        "text": "={{ $json.summary_message }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "dcos-post-summary",
      "name": "Post Run Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1260,
        280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "aA0zZkZuOO7odmEe",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "dcos-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -120,
        520
      ],
      "credentials": {
        "anthropicApi": {
          "id": "RH89X48uFH0LBJfi",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "dcos-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        180,
        520
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "Q1kXqY8UNNjUmYLH",
          "name": "Multiple Headers Auth account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Normalize Scheduled Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slash Command Trigger": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Webhook Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Scheduled Trigger": {
      "main": [
        [
          {
            "node": "Account Update Source Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Briefing Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Trigger": {
      "main": [
        [
          {
            "node": "Account Update Source Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Briefing Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Update Source Contract": {
      "main": [
        [
          {
            "node": "Load Account Update Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Account Update Inputs": {
      "main": [
        [
          {
            "node": "Build Account Update Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Account Update Prompt": {
      "main": [
        [
          {
            "node": "Generate Account Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Account Update",
            "type": "ai_languageModel",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Daily Briefing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Generate Account Update",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Daily Briefing",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Account Update": {
      "main": [
        [
          {
            "node": "Parse Account Update JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Account Update JSON": {
      "main": [
        [
          {
            "node": "Resolve Delivery Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Delivery Target": {
      "main": [
        [
          {
            "node": "Render Delivery Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Delivery Payload": {
      "main": [
        [
          {
            "node": "Post Account Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Briefing Source Contract": {
      "main": [
        [
          {
            "node": "Load Briefing Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Briefing Inputs": {
      "main": [
        [
          {
            "node": "Build Briefing Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Briefing Prompt": {
      "main": [
        [
          {
            "node": "Generate Daily Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Briefing": {
      "main": [
        [
          {
            "node": "Parse Briefing JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Briefing JSON": {
      "main": [
        [
          {
            "node": "Write Calendar Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Calendar Tasks": {
      "main": [
        [
          {
            "node": "DM Daily Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM Daily Briefing": {
      "main": [
        [
          {
            "node": "Build Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Summary": {
      "main": [
        [
          {
            "node": "Post Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
