09-onboarding-pulse/full.json
{
  "name": "Onboarding Pulse — Production Template",
  "description": "Monitors newly closed deals during their first 90 days to detect accounts going dark before they become a retention problem. The workflow identifies recently closed-won accounts, checks Backstory engagement data for post-sale activity (meetings booked, emails exchanged, contacts engaged), and flags accounts with below-threshold engagement. An AI agent assesses each flagged account and recommends specific re-engagement actions. Alerts are sent to the CSM and sales handoff team via Messaging. Uses canonical source, identity, delivery, and observability contracts.",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "09-onboarding-pulse-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  },
  "id": "09-onboarding-pulse-production",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "op-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1320,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "OP-cfg-1",
              "name": "workflow_id",
              "type": "string",
              "value": "09-onboarding-pulse"
            },
            {
              "id": "OP-cfg-2",
              "name": "workflow_name",
              "type": "string",
              "value": "Onboarding Pulse"
            },
            {
              "id": "OP-cfg-3",
              "name": "mode",
              "type": "string",
              "value": "production"
            },
            {
              "id": "OP-cfg-4",
              "name": "trigger_type",
              "type": "string",
              "value": "schedule"
            },
            {
              "id": "OP-cfg-5",
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.OP_DRY_RUN !== \"false\" }}"
            },
            {
              "id": "OP-cfg-6",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $env.OP_SOURCE_API_BASE_URL || \"\" }}"
            },
            {
              "id": "OP-cfg-7",
              "name": "source_bearer_token",
              "type": "string",
              "value": "={{ $env.OP_SOURCE_BEARER_TOKEN || \"\" }}"
            },
            {
              "id": "OP-cfg-8",
              "name": "default_channel_id",
              "type": "string",
              "value": "={{ $env.OP_DEFAULT_CHANNEL_ID || \"\" }}"
            },
            {
              "id": "OP-cfg-9",
              "name": "summary_channel_id",
              "type": "string",
              "value": "={{ $env.OP_SUMMARY_CHANNEL_ID || \"\" }}"
            },
            {
              "id": "OP-cfg-10",
              "name": "lookback_days",
              "type": "number",
              "value": "={{ Number($env.OP_LOOKBACK_DAYS || 30) }}"
            },
            {
              "id": "OP-cfg-11",
              "name": "max_records",
              "type": "number",
              "value": "={{ Number($env.OP_MAX_RECORDS || 100) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "op-config",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "OP-src-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "OP-src-2",
              "name": "source_system",
              "type": "string",
              "value": "09-onboarding-pulse-source"
            },
            {
              "id": "OP-src-3",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $json.source_api_base_url }}"
            },
            {
              "id": "OP-src-4",
              "name": "source_bearer_token",
              "type": "string",
              "value": "={{ $json.source_bearer_token }}"
            },
            {
              "id": "OP-src-5",
              "name": "source_path",
              "type": "string",
              "value": "/09-onboarding-pulse/records"
            },
            {
              "id": "OP-src-6",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "OP-src-7",
              "name": "source_body",
              "type": "json",
              "value": "={{ { lookback_days: $json.lookback_days, limit: $json.max_records, exclude_processed: true, claim_unprocessed: true, trigger_payload: $json.body || null } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "op-contract",
      "name": "Canonical Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        180
      ],
      "notes": "The source adapter owns connector-specific reads, canonical normalization, stable IDs, and processed-record claims.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_SOURCE_ADAPTER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "op-source",
      "name": "Load Canonical Source Records",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -520,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "OP-prompt-1",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON only with keys headline, summary, findings, risks, recommended_actions, should_notify, and missing_data. findings, risks, recommended_actions, and missing_data must be arrays of short strings; should_notify must be boolean.\n\nWorkflow: Onboarding Pulse\nPurpose: Monitors newly closed deals during their first 90 days to detect accounts going dark before they become a retention problem. The workflow identifies recently closed-won accounts, checks Backstory engagement data for post-sale activity (meetings booked, emails exchanged, contacts engaged), and flags accounts with below-threshold engagement. An AI agent assesses each flagged account and recommends specific re-engagement actions. Alerts are sent to the CSM and sales handoff team via Messaging.\n\nRun context:\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\n\nCanonical source record:\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}\n\nUse Backstory MCP only for factual enrichment and analysis. Never route, deliver, mutate source systems, or invent missing evidence. Make recommendations specific, concise, and appropriate for Onboarding Pulse."
            }
          ]
        },
        "options": {}
      },
      "id": "op-prompt",
      "name": "Build Structured Analysis Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are the Onboarding Pulse analyst. Use Backstory MCP only for enrichment. Return valid JSON; routing and delivery remain deterministic."
        }
      },
      "id": "op-agent",
      "name": "Analyze Onboarding Pulse",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        180
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "op-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        20,
        420
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "op-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        220,
        420
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || '{}';\nconst cleaned = String(raw).trim().replace(/^```json\\s*/i, '').replace(/^```/, '').replace(/```$/, '').trim();\nlet result;\ntry { result = JSON.parse(cleaned); } catch { result = { headline: 'Onboarding Pulse', summary: cleaned || 'Manual review required.', findings: [], risks: [], recommended_actions: ['Review the source record manually.'], should_notify: false, missing_data: ['Structured analysis unavailable.'] }; }\nconst list = (value) => Array.isArray(value) ? value.filter(Boolean).map(String) : [];\nconst section = (title, values) => values.length ? [title, ...values.map((value) => `• ${value}`)].join('\\n') : '';\nconst findings = list(result.findings); const risks = list(result.risks); const actions = list(result.recommended_actions); const missing = list(result.missing_data);\nconst body = [`*${result.headline || 'Onboarding Pulse'}*`, result.summary, section('*Findings*', findings), section('*Risks*', risks), section('*Recommended actions*', actions), missing.length ? `_Missing data: ${missing.join('; ')}_` : ''].filter(Boolean).join('\\n\\n');\nconst runContext = item.run_context || {}; const sourceId = item.source_id || item.raw_record?.id || 'record';\nreturn [{ json: { ...item, workflow_id: '09-onboarding-pulse', workflow_name: 'Onboarding Pulse', run_context: runContext, should_notify: result.should_notify !== false, target_type: 'channel', target_id: item.route_channel_id || item.owner_slack_user_id || runContext.default_channel_id || '', delivery_title: result.headline || 'Onboarding Pulse', delivery_body: body, delivery_format: 'mrkdwn', thread_key: '09-onboarding-pulse:' + sourceId, dedupe_key: '09-onboarding-pulse:' + sourceId, summary_channel_id: runContext.summary_channel_id || '', summary_detail: 'Processed ' + sourceId + ' for Onboarding Pulse.' } }];"
      },
      "id": "op-parse",
      "name": "Parse Structured Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_IDENTITY_ROUTING_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "op-identity",
      "name": "Resolve Delivery Target",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_DELIVERY_RENDERER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "op-render",
      "name": "Render Delivery Payload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "OP-gate-1",
              "leftValue": "={{ $json.run_context.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "OP-gate-2",
              "leftValue": "={{ $json.should_notify }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "OP-gate-3",
              "leftValue": "={{ $json.delivery_payload.target_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "op-gate",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1160,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.delivery_payload.target_id }}"
        },
        "text": "={{ $json.delivery_payload.body }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "op-slack",
      "name": "Post Workflow Result",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1440,
        100
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_RUN_SUMMARY_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "op-summary",
      "name": "Record Run Summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1720,
        180
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Canonical Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canonical Source Contract": {
      "main": [
        [
          {
            "node": "Load Canonical Source Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Canonical Source Records": {
      "main": [
        [
          {
            "node": "Build Structured Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Structured Analysis Prompt": {
      "main": [
        [
          {
            "node": "Analyze Onboarding Pulse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Onboarding Pulse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Analyze Onboarding Pulse",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Onboarding Pulse": {
      "main": [
        [
          {
            "node": "Parse Structured Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structured Analysis": {
      "main": [
        [
          {
            "node": "Resolve Delivery Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Delivery Target": {
      "main": [
        [
          {
            "node": "Render Delivery Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Delivery Payload": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Post Workflow Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Workflow Result": {
      "main": [
        [
          {
            "node": "Record Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
