shared-n8n/backstory-enrichment.json
{
  "name": "Shared — Backstory Enrichment",
  "description": "Reusable enrichment step that limits MCP usage to synthesis and returns structured enrichment_context.",
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "shared-backstory-enrichment-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "shared-backstory-enrichment",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "shared-enrichment-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "enrichment-prompt",
              "name": "enrichment_prompt",
              "type": "string",
              "value": "=Return strict JSON with keys summary, confidence, source_refs, and tool_results.\\n\\nUse Backstory MCP to enrich this source record for the current workflow.\\n\\nRun context:\\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\\n\\nSource record:\\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "shared-enrichment-set",
      "name": "Build Enrichment Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.enrichment_prompt }}",
        "options": {
          "systemMessage": "You are a workflow enrichment agent. Use MCP only for enrichment. Do not route, deliver, or perform side effects. Output JSON only."
        }
      },
      "id": "shared-enrichment-agent",
      "name": "Generate Enrichment Context",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "shared-enrichment-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -140,
        180
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "shared-enrichment-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        120,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || item.message || \"{}\";\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  parsed = { summary: raw, confidence: \"low\", source_refs: [], tool_results: [] };\n}\nreturn [{ json: { ...$json, enrichment_context: parsed } }];"
      },
      "id": "shared-enrichment-parse",
      "name": "Parse Enrichment Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Enrichment Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Enrichment Prompt": {
      "main": [
        [
          {
            "node": "Generate Enrichment Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Enrichment Context",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Generate Enrichment Context",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Enrichment Context": {
      "main": [
        [
          {
            "node": "Parse Enrichment Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
