32-revenue-orchestration/full.json
{
  "name": "Revenue Orchestration (Approval-Gated) — Production Template",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  account_name: 'ABBYY',\n  opportunity_hint: 'Data Governance',\n  deal_owner_slack_id: ($env.RO_DEFAULT_USER_ID || ''),\n  signal_type: 'engagement_drop',\n  n8n_public_base: ($env.RO_N8N_PUBLIC_BASE_URL || '')\n}}];"
      },
      "id": "210c91ca-ba75-44a4-bd2f-df5f388bf2ac",
      "name": "Set Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1984
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestration-signal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4c513c9e-4df9-49de-8b5a-e771187946ae",
      "name": "Signal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -672,
        1984
      ],
      "webhookId": "orchestration-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"response_type\": \"ephemeral\", \"text\": \":robot_face: Orchestration signal received — approval coming via DM in ~30s.\", \"status\": \"received\" }",
        "options": {}
      },
      "id": "31162742-b606-4e24-914a-1cdec847b8f8",
      "name": "Ack Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -480,
        1744
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "find_account",
          "mode": "list",
          "cachedResultName": "find_account"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "account_name": "={{ $('Set Target').first().json.account_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "240ea08b-51ff-4c28-b653-20d1f0d6b366",
      "name": "Find Account",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        -240,
        1984
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse find_account response, extract account_id and select the right opportunity\nconst raw = $json;\nconst target = $('Set Target').first().json;\n\nlet payload = raw;\nif (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n  const t = raw.content[0].text;\n  payload = (typeof t === 'string') ? JSON.parse(t) : t;\n}\n\nconst accountId = payload?.peopleai_account_id;\nconst accountName = payload?.name;\nconst opportunities = payload?.opportunities || [];\n\nif (!accountId) {\n  throw new Error(`Could not resolve account ID for \"${target.account_name}\". find_account returned: ${JSON.stringify(payload).slice(0,300)}`);\n}\nif (opportunities.length === 0) {\n  throw new Error(`No opportunities found for account \"${accountName}\".`);\n}\n\nlet selectedOpp;\nconst hint = (target.opportunity_hint || '').toLowerCase().trim();\nif (hint) {\n  selectedOpp = opportunities.find(o => (o.opportunity_name || '').toLowerCase().includes(hint));\n}\nif (!selectedOpp) {\n  selectedOpp = [...opportunities].sort((a, b) => (b.engagement_level || 0) - (a.engagement_level || 0))[0];\n}\n\nreturn [{ json: {\n  peopleai_account_id: accountId,\n  peopleai_opportunity_id: selectedOpp.peopleai_opportunity_id,\n  account_name: accountName,\n  account_domain: payload?.domain,\n  opportunity_name: selectedOpp.opportunity_name,\n  opportunity_amount: selectedOpp.amount,\n  opportunity_close_date: selectedOpp.close_date,\n  opportunity_engagement_level: selectedOpp.engagement_level,\n  opportunity_owner: selectedOpp.owner?.name,\n  opportunity_type: selectedOpp.type,\n  all_opportunities: opportunities.map(o => ({ id: o.peopleai_opportunity_id, name: o.opportunity_name })),\n  ...target\n} }];"
      },
      "id": "2f91e584-14f9-4ea0-a859-fa4cf8b63198",
      "name": "Resolve IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1984
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "get_account_status",
          "mode": "list",
          "cachedResultName": "get_account_status"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_account_id": "={{ $('Resolve IDs').first().json.peopleai_account_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_account_id",
              "displayName": "peopleai_account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b898491b-16bd-43cb-9fee-686b3b68c4ea",
      "name": "Get Account Status",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        224,
        1984
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "get_recent_account_activity",
          "mode": "list",
          "cachedResultName": "get_recent_account_activity"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_account_id": "={{ $('Resolve IDs').first().json.peopleai_account_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_account_id",
              "displayName": "peopleai_account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "699083b7-c445-4fd4-894c-70d1a5291c19",
      "name": "Get Recent Account Activity",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        448,
        1984
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "situation_search",
          "mode": "list",
          "cachedResultName": "situation_search"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "opportunity_id": "={{ $('Resolve IDs').first().json.peopleai_opportunity_id }}",
            "query": "Deal with engagement signal — what specific actions resolved similar signals and moved deals forward?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "opportunity_id",
              "displayName": "opportunity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1a3b901b-8936-4839-bc84-90b71f8cedd0",
      "name": "Situation Search",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        672,
        1984
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "ask_sales_ai_about_opportunity",
          "mode": "list",
          "cachedResultName": "ask_sales_ai_about_opportunity"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_opportunity_id": "={{ $('Resolve IDs').first().json.peopleai_opportunity_id }}",
            "question": "What is the single most important action the deal owner should take this week, and what should be updated on the CRM record to reflect current reality?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_opportunity_id",
              "displayName": "peopleai_opportunity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "de9c2cf7-10a0-4798-97fa-3be70f0a9970",
      "name": "Ask SalesAI: Next Action",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        896,
        1984
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractText(nodeName) {\n  try {\n    const item = $(nodeName).first();\n    if (!item || !item.json) return '(no data returned)';\n    const raw = item.json;\n    let payload = raw;\n    if (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n      payload = raw.content[0].text !== undefined ? raw.content[0].text : raw.content[0];\n    } else if (Array.isArray(raw) && raw[0]) {\n      payload = raw[0].text !== undefined ? raw[0].text : raw[0];\n    }\n    if (typeof payload === 'string') {\n      const trimmed = payload.trim();\n      if (trimmed.startsWith('{') || trimmed.startsWith('[')) {\n        try { return JSON.stringify(JSON.parse(trimmed), null, 2); } catch(e) { return payload; }\n      }\n      return payload;\n    }\n    return JSON.stringify(payload, null, 2);\n  } catch(e) {\n    return `(extraction error: ${e.message})`;\n  }\n}\n\nconst resolved = $('Resolve IDs').first().json;\nconst target = $('Set Target').first().json;\nreturn [{ json: {\n  ...resolved,\n  ...target,\n  accountStatus: extractText('Get Account Status'),\n  recentActivity: extractText('Get Recent Account Activity'),\n  situationSearch: extractText('Situation Search'),\n  salesAiAnswer: extractText('Ask SalesAI: Next Action'),\n} }];"
      },
      "id": "9d9eb5fd-ef83-49ca-a150-3bac6e19a01f",
      "name": "Merge MCP Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1984
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst prompt = `You are an AI revenue orchestration agent. A signal fired on a deal and you must propose two specific, approval-gated actions.\n\nSignal: ${j.signal_type}\nDeal: ${j.opportunity_name} | Account: ${j.account_name}\nOwner: ${j.opportunity_owner}\n\n## Account Status\n${j.accountStatus}\n\n## Recent Activity\n${j.recentActivity}\n\n## Comparable Deals (Situation Search)\n${j.situationSearch}\n\n## SalesAI Analysis\n${j.salesAiAnswer}\n\nPropose exactly two actions. Output STRICT JSON only — no markdown, no code fences, no preamble:\n\n{\n  \"summary\": \"2-sentence summary of why these actions are being proposed\",\n  \"crm_update\": {\n    \"field\": \"NextStep__c\",\n    \"value\": \"Proposed next step (under 200 chars)\",\n    \"rationale\": \"1-2 sentence rationale based on activity evidence\"\n  },\n  \"slack_message\": {\n    \"message\": \"Proposed Slack DM to deal owner — direct, specific, references comparable situation, under 200 words\",\n    \"rationale\": \"1-2 sentence rationale based on Situation Search\"\n  }\n}\n\nReturn ONLY the JSON object. No code fences. No explanation.`;\n\nreturn [{ json: { ...j, prompt } }];"
      },
      "id": "75a0ec46-754d-4d6d-aac2-8aa441a41b32",
      "name": "Build Orchestration Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1984
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "d91296fc-307c-470b-9a8e-589bd85ffd6e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        1984
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "dd9e07ee-b7cc-4add-a28d-59ab6cbaee0c",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1552,
        2192
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Merge MCP Results').first().json;\nlet raw = $json.output || '';\nraw = String(raw).replace(/```json|```/g, '').trim();\n\n// Detect truncated JSON early with a clear message\nif (!raw.endsWith('}')) {\n  throw new Error(`Agent output appears truncated (doesn't end with '}'). Last 100 chars: \"${raw.slice(-100)}\". Bump max_tokens on the Anthropic Chat Model node.`);\n}\n\nlet proposal;\ntry { proposal = JSON.parse(raw); }\ncatch(e) { throw new Error('Agent did not return valid JSON: ' + raw.slice(0,300)); }\n\n// Resume URL — replace localhost if the override is set in Set Target\nlet resumeUrl = $execution.resumeUrl;\nif (!resumeUrl) {\n  throw new Error('No resumeUrl available — make sure a Wait node is downstream');\n}\nconst target = $('Set Target').first().json;\nif (target.n8n_public_base && resumeUrl.includes('localhost')) {\n  resumeUrl = resumeUrl.replace(/https?:\\/\\/localhost:\\d+/, target.n8n_public_base);\n}\n\n// resumeUrl already has ?signature=... so we need & for additional params\nconst sep = resumeUrl.includes('?') ? '&' : '?';\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: `🤖 Agent Proposal — ${ctx.opportunity_name}` } },\n  { type: 'section', text: { type: 'mrkdwn', text: `*Signal:* ${ctx.signal_type}\\n*Summary:* ${proposal.summary}` } },\n  { type: 'divider' },\n  { type: 'section', text: { type: 'mrkdwn', text: `*📝 Proposed CRM Update*\\n*Field:* \\`${proposal.crm_update.field}\\`\\n*Value:* ${proposal.crm_update.value}\\n_Rationale: ${proposal.crm_update.rationale}_` } },\n  { type: 'section', text: { type: 'mrkdwn', text: `*💬 Proposed Slack DM to Deal Owner*\\n>>> ${proposal.slack_message.message}\\n_Rationale: ${proposal.slack_message.rationale}_` } },\n  { type: 'divider' },\n  { type: 'actions', elements: [\n    { type: 'button', style: 'primary', text: { type: 'plain_text', text: '✅ Approve Both' }, url: `${resumeUrl}${sep}decision=approve` },\n    { type: 'button', style: 'danger', text: { type: 'plain_text', text: '❌ Reject' }, url: `${resumeUrl}${sep}decision=reject` }\n  ]},\n  { type: 'context', elements: [{ type: 'mrkdwn', text: `_Approval-gated · Execution: ${$execution.id} · Resume: ${resumeUrl.includes('localhost') ? '⚠️ LOCALHOST' : 'OK'}_` }] }\n];\n\nreturn [{ json: {\n  ...ctx,\n  proposal,\n  blocks,\n  blocksJson: JSON.stringify(blocks),\n  resumeUrl\n}}];"
      },
      "id": "df142e89-511d-4325-bb96-6cae89bf3ec6",
      "name": "Parse Proposal + Build Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1984
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.RO_DEFAULT_CHANNEL_ID || \"\" }}"
        },
        "text": "=Agent proposal for {{ $json.opportunity_name }} — review and approve in Slack",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "6c662853-36bc-4fa9-9618-67d5d0699c15",
      "name": "Post Approval Request",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2208,
        1984
      ],
      "notes": "Converted from raw Slack HTTP delivery to the native Slack node.",
      "notesInFlow": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": ""
        }
      },
      "id": "29ae05d6-38d7-485a-a36a-59ba71a73fa2",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2432,
        1984
      ],
      "webhookId": "approval-wait"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approve-check",
              "leftValue": "={{ $json.query?.decision || $json.body?.decision || $json.decision }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "29ec33a0-8c92-4cb9-8e8b-063b82185ac7",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2656,
        1984
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Proposal + Build Slack').first().json;\nreturn [{ json: ctx }];"
      },
      "id": "a9fa9fda-9450-41d9-9cc3-54337f4702e6",
      "name": "Reload Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1856
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.RO_DEFAULT_CHANNEL_ID || \"\" }}",
          "mode": "id"
        },
        "text": "={{ $('Reload Context').item.json.proposal.slack_message.message }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "3ecf3cfd-b741-4727-9390-39effa485e2e",
      "name": "Slack: DM Deal Owner",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3088,
        1888
      ],
      "webhookId": "0b0b444c-93cc-407a-9936-863fdaf3857a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.RO_DEFAULT_CHANNEL_ID || \"\" }}",
          "mode": "id"
        },
        "text": "=:white_check_mark: *Actions Executed* — {{ $('Reload Context').item.json.opportunity_name }}\n• CRM `{{ $('Reload Context').item.json.proposal.crm_update.field }}` updated\n• Slack DM sent to deal owner\n_Audit logged in n8n execution {{ $execution.id }}_",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "ea30eeb5-82ab-467d-9aa5-9662e721943b",
      "name": "Confirm Execution",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3264,
        1728
      ],
      "webhookId": "cad8240e-8632-4f74-a693-9b1d042504ff",
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.RO_DEFAULT_CHANNEL_ID || \"\" }}",
          "mode": "id"
        },
        "text": "=:no_entry: *Proposal Rejected* — {{ $('Parse Proposal + Build Slack').first().json.opportunity_name }}\nNo CRM update written. No Slack DM sent.\n_Logged in n8n execution {{ $execution.id }}_",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "b5c0d9cc-3f64-43be-8e74-810c52d37049",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2864,
        2160
      ],
      "webhookId": "6f55c9d5-cc1c-4d8c-ac1c-c0e3f764a31a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "RO-6c662853-36bc-4fa9-9618-67d5d0699c15-gate-1",
              "leftValue": "={{ $env.RO_DRY_RUN !== \"false\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "RO-6c662853-36bc-4fa9-9618-67d5d0699c15-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ro-delivery-gate-6c662853-36bc-4fa9-9618-67d5d0699c15",
      "name": "Delivery Enabled — Post Approval Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1988,
        1984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "RO-3ecf3cfd-b741-4727-9390-39effa485e2e-gate-1",
              "leftValue": "={{ $env.RO_DRY_RUN !== \"false\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "RO-3ecf3cfd-b741-4727-9390-39effa485e2e-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ro-delivery-gate-3ecf3cfd-b741-4727-9390-39effa485e2e",
      "name": "Delivery Enabled — Slack: DM Deal Owner?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2868,
        1888
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "RO-ea30eeb5-82ab-467d-9aa5-9662e721943b-gate-1",
              "leftValue": "={{ $env.RO_DRY_RUN !== \"false\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "RO-ea30eeb5-82ab-467d-9aa5-9662e721943b-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ro-delivery-gate-ea30eeb5-82ab-467d-9aa5-9662e721943b",
      "name": "Delivery Enabled — Confirm Execution?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3044,
        1728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "RO-b5c0d9cc-3f64-43be-8e74-810c52d37049-gate-1",
              "leftValue": "={{ $env.RO_DRY_RUN !== \"false\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "RO-b5c0d9cc-3f64-43be-8e74-810c52d37049-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ro-delivery-gate-b5c0d9cc-3f64-43be-8e74-810c52d37049",
      "name": "Delivery Enabled — Log Rejection?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2644,
        2160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Signal Webhook": {
      "main": [
        [
          {
            "node": "Ack Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target": {
      "main": [
        [
          {
            "node": "Find Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Account": {
      "main": [
        [
          {
            "node": "Resolve IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve IDs": {
      "main": [
        [
          {
            "node": "Get Account Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Status": {
      "main": [
        [
          {
            "node": "Get Recent Account Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Account Activity": {
      "main": [
        [
          {
            "node": "Situation Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situation Search": {
      "main": [
        [
          {
            "node": "Ask SalesAI: Next Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask SalesAI: Next Action": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge MCP Results": {
      "main": [
        [
          {
            "node": "Build Orchestration Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Orchestration Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Proposal + Build Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Proposal + Build Slack": {
      "main": [
        [
          {
            "node": "Delivery Enabled — Post Approval Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Approval Request": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Reload Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delivery Enabled — Log Rejection?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Context": {
      "main": [
        [
          {
            "node": "Delivery Enabled — Slack: DM Deal Owner?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delivery Enabled — Confirm Execution?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: DM Deal Owner": {
      "main": [
        [
          {
            "node": "Delivery Enabled — Confirm Execution?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled — Post Approval Request?": {
      "main": [
        [
          {
            "node": "Post Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled — Slack: DM Deal Owner?": {
      "main": [
        [
          {
            "node": "Slack: DM Deal Owner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delivery Enabled — Confirm Execution?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled — Confirm Execution?": {
      "main": [
        [
          {
            "node": "Confirm Execution",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Delivery Enabled — Log Rejection?": {
      "main": [
        [
          {
            "node": "Log Rejection",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "32-revenue-orchestration-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  },
  "id": "32-revenue-orchestration-production",
  "tags": [],
  "description": "Takes an external revenue signal, builds a proposed CRM update plus owner message, and pauses for Slack approval before sending the approved action downstream."
}
