07-churn-risk-scorecard/starter.json
{
  "name": "Churn Risk Scorecard — Demo Starter",
  "description": "Generates a weekly churn risk scorecard for the customer success team. The workflow pulls engagement trends, support ticket volumes, champion contact activity, and product usage signals from Backstory and the CRM. An AI agent scores each account on a 1-10 churn risk scale, identifies the top risk drivers, and suggests specific save plays. The scorecard is delivered to CS managers via Messaging with accounts ranked by risk severity. Uses canonical source, identity, delivery, and observability contracts.",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "07-churn-risk-scorecard-starter-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": true
  },
  "id": "07-churn-risk-scorecard-starter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "crs-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1320,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "CRS-cfg-1",
              "name": "workflow_id",
              "type": "string",
              "value": "07-churn-risk-scorecard"
            },
            {
              "id": "CRS-cfg-2",
              "name": "workflow_name",
              "type": "string",
              "value": "Churn Risk Scorecard"
            },
            {
              "id": "CRS-cfg-3",
              "name": "mode",
              "type": "string",
              "value": "starter"
            },
            {
              "id": "CRS-cfg-4",
              "name": "trigger_type",
              "type": "string",
              "value": "schedule"
            },
            {
              "id": "CRS-cfg-5",
              "name": "dry_run",
              "type": "boolean",
              "value": true
            },
            {
              "id": "CRS-cfg-6",
              "name": "source_api_base_url",
              "type": "string",
              "value": ""
            },
            {
              "id": "CRS-cfg-7",
              "name": "source_bearer_token",
              "type": "string",
              "value": ""
            },
            {
              "id": "CRS-cfg-8",
              "name": "default_channel_id",
              "type": "string",
              "value": ""
            },
            {
              "id": "CRS-cfg-9",
              "name": "summary_channel_id",
              "type": "string",
              "value": ""
            },
            {
              "id": "CRS-cfg-10",
              "name": "lookback_days",
              "type": "number",
              "value": 30
            },
            {
              "id": "CRS-cfg-11",
              "name": "max_records",
              "type": "number",
              "value": 1
            }
          ]
        },
        "options": {}
      },
      "id": "crs-config",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "CRS-src-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "CRS-src-2",
              "name": "source_system",
              "type": "string",
              "value": "07-churn-risk-scorecard-source"
            },
            {
              "id": "CRS-src-3",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $json.source_api_base_url }}"
            },
            {
              "id": "CRS-src-4",
              "name": "source_bearer_token",
              "type": "string",
              "value": "={{ $json.source_bearer_token }}"
            },
            {
              "id": "CRS-src-5",
              "name": "source_path",
              "type": "string",
              "value": "/07-churn-risk-scorecard/records"
            },
            {
              "id": "CRS-src-6",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "CRS-src-7",
              "name": "source_body",
              "type": "json",
              "value": "={{ { lookback_days: $json.lookback_days, limit: $json.max_records, exclude_processed: true, claim_unprocessed: true, trigger_payload: $json.body || null } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "crs-contract",
      "name": "Canonical Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        180
      ],
      "notes": "The source adapter owns connector-specific reads, canonical normalization, stable IDs, and processed-record claims.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const runContext = $input.first().json.run_context || $input.first().json;\nreturn [{ json: {\n  source_id: 'fictional-07-churn-risk-scorecard-1',\n  account_name: 'Globex Industries',\n  owner: 'demo.owner',\n  raw_record: { id: 'fictional-07-churn-risk-scorecard-1', account_name: 'Globex Industries', status: 'test', amount: 125000, last_activity_days: 14, note: 'Fictional representative record for Churn Risk Scorecard.' },\n  run_context: runContext\n} }];"
      },
      "id": "crs-source",
      "name": "Load Canonical Source Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        180
      ],
      "notes": "Demo Starter: uses a fictional local fixture and never contacts a source system.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "CRS-prompt-1",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON only with keys headline, summary, findings, risks, recommended_actions, should_notify, and missing_data. findings, risks, recommended_actions, and missing_data must be arrays of short strings; should_notify must be boolean.\n\nWorkflow: Churn Risk Scorecard\nPurpose: Generates a weekly churn risk scorecard for the customer success team. The workflow pulls engagement trends, support ticket volumes, champion contact activity, and product usage signals from Backstory and the CRM. An AI agent scores each account on a 1-10 churn risk scale, identifies the top risk drivers, and suggests specific save plays. The scorecard is delivered to CS managers via Messaging with accounts ranked by risk severity.\n\nRun context:\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\n\nCanonical source record:\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}\n\nUse Backstory MCP only for factual enrichment and analysis. Never route, deliver, mutate source systems, or invent missing evidence. Make recommendations specific, concise, and appropriate for Churn Risk Scorecard."
            }
          ]
        },
        "options": {}
      },
      "id": "crs-prompt",
      "name": "Build Structured Analysis Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are the Churn Risk Scorecard analyst. Use Backstory MCP only for enrichment. Return valid JSON; routing and delivery remain deterministic."
        }
      },
      "id": "crs-agent",
      "name": "Analyze Churn Risk Scorecard",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        180
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "crs-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        20,
        420
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "crs-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        220,
        420
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || '{}';\nconst cleaned = String(raw).trim().replace(/^```json\\s*/i, '').replace(/^```/, '').replace(/```$/, '').trim();\nlet result;\ntry { result = JSON.parse(cleaned); } catch { result = { headline: 'Churn Risk Scorecard', summary: cleaned || 'Manual review required.', findings: [], risks: [], recommended_actions: ['Review the source record manually.'], should_notify: false, missing_data: ['Structured analysis unavailable.'] }; }\nconst list = (value) => Array.isArray(value) ? value.filter(Boolean).map(String) : [];\nconst section = (title, values) => values.length ? [title, ...values.map((value) => `• ${value}`)].join('\\n') : '';\nconst findings = list(result.findings); const risks = list(result.risks); const actions = list(result.recommended_actions); const missing = list(result.missing_data);\nconst body = [`*${result.headline || 'Churn Risk Scorecard'}*`, result.summary, section('*Findings*', findings), section('*Risks*', risks), section('*Recommended actions*', actions), missing.length ? `_Missing data: ${missing.join('; ')}_` : ''].filter(Boolean).join('\\n\\n');\nconst runContext = item.run_context || {}; const sourceId = item.source_id || item.raw_record?.id || 'record';\nreturn [{ json: { ...item, workflow_id: '07-churn-risk-scorecard', workflow_name: 'Churn Risk Scorecard', run_context: runContext, should_notify: result.should_notify !== false, target_type: 'channel', target_id: item.route_channel_id || item.owner_slack_user_id || runContext.default_channel_id || '', delivery_title: result.headline || 'Churn Risk Scorecard', delivery_body: body, delivery_format: 'mrkdwn', thread_key: '07-churn-risk-scorecard:' + sourceId, dedupe_key: '07-churn-risk-scorecard:' + sourceId, summary_channel_id: runContext.summary_channel_id || '', summary_detail: 'Processed ' + sourceId + ' for Churn Risk Scorecard.' } }];"
      },
      "id": "crs-parse",
      "name": "Parse Structured Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_IDENTITY_ROUTING_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "crs-identity",
      "name": "Resolve Delivery Target",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_DELIVERY_RENDERER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "crs-render",
      "name": "Render Delivery Payload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "CRS-gate-1",
              "leftValue": "={{ $json.run_context.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "CRS-gate-2",
              "leftValue": "={{ $json.should_notify }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "CRS-gate-3",
              "leftValue": "={{ $json.delivery_payload.target_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "crs-gate",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1160,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.delivery_payload.target_id }}"
        },
        "text": "={{ $json.delivery_payload.body }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "crs-slack",
      "name": "Post Workflow Result",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1440,
        100
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_RUN_SUMMARY_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "crs-summary",
      "name": "Record Run Summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1720,
        180
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Canonical Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canonical Source Contract": {
      "main": [
        [
          {
            "node": "Load Canonical Source Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Canonical Source Records": {
      "main": [
        [
          {
            "node": "Build Structured Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Structured Analysis Prompt": {
      "main": [
        [
          {
            "node": "Analyze Churn Risk Scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Churn Risk Scorecard",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Analyze Churn Risk Scorecard",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Churn Risk Scorecard": {
      "main": [
        [
          {
            "node": "Parse Structured Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structured Analysis": {
      "main": [
        [
          {
            "node": "Resolve Delivery Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Delivery Target": {
      "main": [
        [
          {
            "node": "Render Delivery Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Delivery Payload": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Post Workflow Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Workflow Result": {
      "main": [
        [
          {
            "node": "Record Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
