31-deal-inspection/starter.json
{
  "name": "Deal Inspection (Slack /dealcheck) — Demo Starter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deal-inspect",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6421952b-0430-47f7-91b3-6a116906e51a",
      "name": "Slack Slash Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        144
      ],
      "webhookId": "deal-inspect-webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=:hourglass_flowing_sand: Analyzing deal — brief incoming in a few seconds.",
        "options": {}
      },
      "id": "807c1c7f-9981-4d53-8737-33e550757381",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst text = (body.text || '').trim();\nconst channelId = body.channel_id || '';\n\n// If no account name provided (manual test OR empty slash command),\n// fall back to a demo account so the workflow still runs end-to-end\nconst accountName = text || 'ABBYY';\nconst opportunityHint = text ? '' : 'Data Governance';\n\nreturn [{ json: {\n  account_name: accountName,\n  opportunity_hint: opportunityHint,\n  channelId,\n  was_manual: !text  // useful flag if you want to handle this case downstream\n}}];"
      },
      "id": "8d6bcc02-28b6-4d13-b261-646653a1b6a8",
      "name": "Parse Slash Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, source_id: 'fictional-31-deal-inspection-mcp-1', customerName: 'Globex Industries', accountName: 'Globex Industries', content: [{ type: 'text', text: JSON.stringify({ fictional: true, records: [{ id: 'fictional-1', status: 'test' }] }) }], dry_run: true } }];"
      },
      "id": "e33eed6e-a466-4642-84b5-065c6424e7be",
      "name": "Find Account",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        224
      ],
      "notes": "Demo Starter: direct MCP access replaced with a fictional local fixture.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "// Parse find_account response, extract account_id and select the right opportunity\nconst raw = $json;\nconst target = $('Parse Slash Command').first().json;\n\nlet payload = raw;\nif (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n  const t = raw.content[0].text;\n  payload = (typeof t === 'string') ? JSON.parse(t) : t;\n}\n\nconst accountId = payload?.peopleai_account_id;\nconst accountName = payload?.name;\nconst opportunities = payload?.opportunities || [];\n\nif (!accountId) {\n  throw new Error(`Could not resolve account ID for \"${target.account_name}\". find_account returned: ${JSON.stringify(payload).slice(0,300)}`);\n}\nif (opportunities.length === 0) {\n  throw new Error(`No opportunities found for account \"${accountName}\".`);\n}\n\nlet selectedOpp;\nconst hint = (target.opportunity_hint || '').toLowerCase().trim();\nif (hint) {\n  selectedOpp = opportunities.find(o => (o.opportunity_name || '').toLowerCase().includes(hint));\n}\nif (!selectedOpp) {\n  selectedOpp = [...opportunities].sort((a, b) => (b.engagement_level || 0) - (a.engagement_level || 0))[0];\n}\n\nreturn [{ json: {\n  peopleai_account_id: accountId,\n  peopleai_opportunity_id: selectedOpp.peopleai_opportunity_id,\n  account_name: accountName,\n  account_domain: payload?.domain,\n  opportunity_name: selectedOpp.opportunity_name,\n  opportunity_amount: selectedOpp.amount,\n  opportunity_close_date: selectedOpp.close_date,\n  opportunity_engagement_level: selectedOpp.engagement_level,\n  opportunity_owner: selectedOpp.owner?.name,\n  opportunity_type: selectedOpp.type,\n  all_opportunities: opportunities.map(o => ({ id: o.peopleai_opportunity_id, name: o.opportunity_name })),\n  ...target\n} }];"
      },
      "id": "cbf0223c-3083-4a9a-8dcd-94d264eb8768",
      "name": "Resolve IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, source_id: 'fictional-31-deal-inspection-mcp-1', customerName: 'Globex Industries', accountName: 'Globex Industries', content: [{ type: 'text', text: JSON.stringify({ fictional: true, records: [{ id: 'fictional-1', status: 'test' }] }) }], dry_run: true } }];"
      },
      "id": "27ba5090-1c72-463b-a35e-5f2f6ad8d12e",
      "name": "Get Opportunity Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        224
      ],
      "notes": "Demo Starter: direct MCP access replaced with a fictional local fixture.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, source_id: 'fictional-31-deal-inspection-mcp-1', customerName: 'Globex Industries', accountName: 'Globex Industries', content: [{ type: 'text', text: JSON.stringify({ fictional: true, records: [{ id: 'fictional-1', status: 'test' }] }) }], dry_run: true } }];"
      },
      "id": "b6f86ac5-8b22-4510-ab03-0058bba26d3e",
      "name": "Ask SalesAI: Top Risk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        224
      ],
      "notes": "Demo Starter: direct MCP access replaced with a fictional local fixture.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, source_id: 'fictional-31-deal-inspection-mcp-1', customerName: 'Globex Industries', accountName: 'Globex Industries', content: [{ type: 'text', text: JSON.stringify({ fictional: true, records: [{ id: 'fictional-1', status: 'test' }] }) }], dry_run: true } }];"
      },
      "id": "b0267d5a-fc04-4043-9078-9339d6d978a8",
      "name": "Situation Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        224
      ],
      "notes": "Demo Starter: direct MCP access replaced with a fictional local fixture.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "function extractText(nodeName) {\n  try {\n    const item = $(nodeName).first();\n    if (!item || !item.json) return '(no data returned)';\n    const raw = item.json;\n    let payload = raw;\n    if (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n      payload = raw.content[0].text !== undefined ? raw.content[0].text : raw.content[0];\n    } else if (Array.isArray(raw) && raw[0]) {\n      payload = raw[0].text !== undefined ? raw[0].text : raw[0];\n    }\n    if (typeof payload === 'string') {\n      const trimmed = payload.trim();\n      if (trimmed.startsWith('{') || trimmed.startsWith('[')) {\n        try { return JSON.stringify(JSON.parse(trimmed), null, 2); } catch(e) { return payload; }\n      }\n      return payload;\n    }\n    return JSON.stringify(payload, null, 2);\n  } catch(e) {\n    return `(extraction error: ${e.message})`;\n  }\n}\n\nconst resolved = $('Resolve IDs').first().json;\nconst slash = $('Parse Slash Command').first().json;\nreturn [{ json: {\n  opportunityName: resolved.opportunity_name,\n  accountName: resolved.account_name,\n  opportunityOwner: resolved.opportunity_owner,\n  opportunityAmount: resolved.opportunity_amount,\n  channelId: slash.channelId,\n  opportunityStatus: extractText('Get Opportunity Status'),\n  topRisk: extractText('Ask SalesAI: Top Risk'),\n  situationSearch: extractText('Situation Search'),\n} }];"
      },
      "id": "1e5e6ce5-c0c3-4211-96d3-ac49da9de459",
      "name": "Merge MCP Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst prompt = `You are a deal inspection assistant. A rep or manager just asked for a deal review via Slack.\n\nDeal: ${j.opportunityName}\nAccount: ${j.accountName}\nOwner: ${j.opportunityOwner}\n\n## Deal Status\n${j.opportunityStatus}\n\n## Biggest Risk (SalesAI)\n${j.topRisk}\n\n## Comparable Deals (Situation Search)\n${j.situationSearch}\n\nProduce a tight Slack-formatted deal inspection brief (under 400 words):\n\n:mag: *Deal Inspection — ${j.opportunityName}*\n\n*Risk Level*: [High/Med/Low] — one sentence why\n\n*Top Risk / Blocker*: what it is, based on the evidence\n\n*Comparable Situations*: top 3 similar deals — stage, what the rep did, outcome\n\n*Recommended Next Steps*: 3 specific actions with timing\n\nUse Slack mrkdwn (*bold*, • bullets).`;\n\nreturn [{ json: { ...j, prompt } }];"
      },
      "id": "422759d6-2633-40bd-b854-900afe31b158",
      "name": "Build Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "a18427e8-e1a8-49f4-a98a-915722598021",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1792,
        224
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "3454fde8-e23f-4655-b5a5-63cb1f1e38c0",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1792,
        432
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output || '';\nconst channelId = $('Merge MCP Results').first().json.channelId || '';\nreturn [{ json: { slackText: text, channelId } }];"
      },
      "id": "62a09fa4-b9c4-4829-a81f-882097191b83",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        224
      ]
    },
    {
      "parameters": {},
      "id": "d5fe05f0-7596-4e73-affa-c7f7cabce631",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 2,
      "position": [
        2224,
        224
      ],
      "webhookId": "882993a7-c13c-4711-8b0e-2920327617a6",
      "notes": "Demo Starter: external delivery is disabled.",
      "notesInFlow": true
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Slash Command": {
      "main": [
        [
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Slash Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Slash Command": {
      "main": [
        [
          {
            "node": "Find Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Account": {
      "main": [
        [
          {
            "node": "Resolve IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve IDs": {
      "main": [
        [
          {
            "node": "Get Opportunity Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opportunity Status": {
      "main": [
        [
          {
            "node": "Ask SalesAI: Top Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask SalesAI: Top Risk": {
      "main": [
        [
          {
            "node": "Situation Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situation Search": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge MCP Results": {
      "main": [
        [
          {
            "node": "Build Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "31-deal-inspection-starter-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": true
  },
  "id": "31-deal-inspection-starter",
  "tags": [],
  "description": "Runs a slash-command deal inspection by resolving the requested account and opportunity, pulling Backstory deal context, and returning the top risk, supporting evidence, and next actions in Slack."
}
