27-adapter-regression-monitor/full.json
{
  "updatedAt": "2026-05-10T00:00:00.000Z",
  "createdAt": "2026-05-10T00:00:00.000Z",
  "id": "27-adapter-regression-monitor-production",
  "name": "Adapter Regression Monitor — Production Template",
  "description": "Replays adapter-pack fixtures and customer-selected certification scenarios to report regressions before connector changes break reusable workflow patterns.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-27",
      "name": "Adapter QA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        220
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "adapter-regression-monitor",
        "responseMode": "lastNode"
      },
      "notes": "Receive a release-gate or scheduled QA request for one or more adapters.",
      "notesInFlow": true
    },
    {
      "id": "params-27",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "goldenCaseStore",
              "type": "string",
              "value": "={{ $env.ARM_GOLDEN_CASE_STORE || \"\" }}"
            },
            {
              "name": "certificationScriptRef",
              "type": "string",
              "value": "npm run certify:adaptation"
            },
            {
              "name": "severityThreshold",
              "type": "string",
              "value": "warn"
            },
            {
              "name": "alertWebhookUrl",
              "type": "string",
              "value": "={{ $env.ARM_ALERT_WEBHOOK_URL || \"\" }}"
            },
            {
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.ARM_DRY_RUN !== \"false\" }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Keep golden-case and severity settings external so the QA pack can evolve without changing the workflow logic.",
      "notesInFlow": true
    },
    {
      "id": "normalize-27",
      "name": "Normalize QA Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        220
      ],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst customerConfig = payload.customerConfig || payload.stackConfig || {};\nconst selectedPacks = Array.isArray(payload.selectedPacks)\n  ? payload.selectedPacks\n  : Array.isArray(customerConfig.selected_packs)\n    ? customerConfig.selected_packs\n    : [];\nconst adapterPack = payload.adapterPackManifest || (Array.isArray(payload.adapterPacks) ? payload.adapterPacks[0] : {}) || {};\nconst adapterPackId = payload.adapterPackId || adapterPack.pack_id || selectedPacks.find((pack) => pack.role === payload.adapterFamily)?.pack_id || '';\nconst scenarios = Array.isArray(payload.scenarios) && payload.scenarios.length\n  ? payload.scenarios\n  : Array.isArray(adapterPack.fixtures)\n    ? adapterPack.fixtures.map((fixture) => ({ scenario: fixture.scenario, input: fixture.input, expected: fixture.expected }))\n    : [];\nreturn [{ json: {\n  adapterFamily: payload.adapterFamily || adapterPack.family || 'unknown-adapter-family',\n  adapters: payload.adapters || [],\n  adapterPackId,\n  adapterPack,\n  customerConfigRef: payload.customerConfigRef || payload.configRef || '',\n  selectedPackIds: selectedPacks.map((pack) => typeof pack === 'string' ? pack : pack.pack_id || pack.packId || '').filter(Boolean),\n  releaseVersion: payload.releaseVersion || 'unversioned',\n  scenarios,\n  certifiedScenarios: payload.certifiedScenarios || customerConfig.certification?.required_scenarios || [],\n  goldenCaseStore: $('Workflow Parameters').first().json.goldenCaseStore,\n  certificationScriptRef: $('Workflow Parameters').first().json.certificationScriptRef,\n  severityThreshold: $('Workflow Parameters').first().json.severityThreshold,\n  alertWebhookUrl: $('Workflow Parameters').first().json.alertWebhookUrl\n} }];"
      },
      "notes": "Turn the QA request into a stable run object before diffing behavior against golden expectations.",
      "notesInFlow": true
    },
    {
      "id": "analyze-27",
      "name": "Analyze Regressions",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        220
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Assess this adapter regression run.\n\nAdapter family: {{ $json.adapterFamily }}\nAdapter pack ID: {{ $json.adapterPackId }}\nCustomer config ref: {{ $json.customerConfigRef }}\nAdapters: {{ JSON.stringify($json.adapters) }}\nRelease version: {{ $json.releaseVersion }}\nCertification script: {{ $json.certificationScriptRef }}\nAdapter pack manifest: {{ JSON.stringify($json.adapterPack, null, 2) }}\nScenarios: {{ JSON.stringify($json.scenarios, null, 2) }}\nCertified scenarios: {{ JSON.stringify($json.certifiedScenarios) }}\nSeverity threshold: {{ $json.severityThreshold }}\n\nReturn:\n- scenarios likely passing\n- regressions or drift patterns\n- likely root cause and blast radius\n- replay and fix priority\n- whether the adapter pack, fixtures, or customer config need to change",
        "options": {
          "systemMessage": "You are an adapter regression QA assistant that protects reusable workflow adapters using adapter-pack fixtures and customer certification scenarios."
        }
      },
      "notes": "Use this step to summarize regressions and infer blast radius while the deterministic QA harness computes the raw diffs.",
      "notesInFlow": true
    },
    {
      "id": "model-27",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -320,
        40
      ],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "deliver-27",
      "name": "Deliver Regression Findings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.alertWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { adapterFamily: $json.adapterFamily, adapterPackId: $json.adapterPackId, releaseVersion: $json.releaseVersion, customerConfigRef: $json.customerConfigRef, scenarioCount: Array.isArray($json.scenarios) ? $json.scenarios.length : 0, findings: $json.output || $json.text || \"Regression review required\" } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "notes": "Replace this with Slack, Teams, CI gates, or issue creation in your implementation backlog.",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "configure-http-auth",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "arm-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -140,
        440
      ],
      "notes": "Backstory MCP is available only for factual library, account, and workflow enrichment. It must not perform delivery side effects.",
      "notesInFlow": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ARM-deliver-27-gate-1",
              "leftValue": "={{ $('Workflow Parameters').first().json.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "ARM-deliver-27-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "arm-delivery-gate-deliver-27",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        220
      ]
    }
  ],
  "connections": {
    "Adapter QA Webhook": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Normalize QA Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize QA Run": {
      "main": [
        [
          {
            "node": "Analyze Regressions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Regressions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Regressions": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Analyze Regressions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Deliver Regression Findings",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27-adapter-regression-monitor-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  }
}
