34-manager-coaching-brief/starter.json
{
  "name": "Manager Coaching Brief — Demo Starter",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Manager coaching brief for a rep's specific deal\nreturn [{ json: {\n  account_name: 'ABBYY',\n  opportunity_hint: 'Data Governance',\n  rep_name: 'Mira Lawson'\n}}];"
      },
      "id": "990cc1c2-a562-4c99-8b19-8714a1c78135",
      "name": "Set Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        144
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "find_account",
          "mode": "list",
          "cachedResultName": "find_account"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "account_name": "={{ $('Set Target').first().json.account_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "716e4125-879c-4942-9901-3d1275f7b6b6",
      "name": "Find Account",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        448,
        144
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse find_account response, extract account_id and select the right opportunity\nconst raw = $json;\nconst target = $('Set Target').first().json;\n\nlet payload = raw;\nif (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n  const t = raw.content[0].text;\n  payload = (typeof t === 'string') ? JSON.parse(t) : t;\n}\n\nconst accountId = payload?.peopleai_account_id;\nconst accountName = payload?.name;\nconst opportunities = payload?.opportunities || [];\n\nif (!accountId) {\n  throw new Error(`Could not resolve account ID for \"${target.account_name}\". find_account returned: ${JSON.stringify(payload).slice(0,300)}`);\n}\nif (opportunities.length === 0) {\n  throw new Error(`No opportunities found for account \"${accountName}\".`);\n}\n\nlet selectedOpp;\nconst hint = (target.opportunity_hint || '').toLowerCase().trim();\nif (hint) {\n  selectedOpp = opportunities.find(o => (o.opportunity_name || '').toLowerCase().includes(hint));\n}\nif (!selectedOpp) {\n  selectedOpp = [...opportunities].sort((a, b) => (b.engagement_level || 0) - (a.engagement_level || 0))[0];\n}\n\nreturn [{ json: {\n  peopleai_account_id: accountId,\n  peopleai_opportunity_id: selectedOpp.peopleai_opportunity_id,\n  account_name: accountName,\n  account_domain: payload?.domain,\n  opportunity_name: selectedOpp.opportunity_name,\n  opportunity_amount: selectedOpp.amount,\n  opportunity_close_date: selectedOpp.close_date,\n  opportunity_engagement_level: selectedOpp.engagement_level,\n  opportunity_owner: selectedOpp.owner?.name,\n  opportunity_type: selectedOpp.type,\n  all_opportunities: opportunities.map(o => ({ id: o.peopleai_opportunity_id, name: o.opportunity_name })),\n  ...target\n} }];"
      },
      "id": "c24e48a1-4728-46ad-a5c2-0cb40891d501",
      "name": "Resolve IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        144
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "get_opportunity_status",
          "mode": "list",
          "cachedResultName": "get_opportunity_status"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_opportunity_id": "={{ $('Resolve IDs').first().json.peopleai_opportunity_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_opportunity_id",
              "displayName": "peopleai_opportunity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ce516e24-c125-42d3-870d-224b7bf9f8fc",
      "name": "Get Opportunity Status",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        912,
        144
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "get_scorecard",
          "mode": "list",
          "cachedResultName": "get_scorecard"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_account_id": "={{ $('Resolve IDs').first().json.peopleai_account_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_account_id",
              "displayName": "peopleai_account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7069ebab-757d-4919-a228-d5b07f934a16",
      "name": "Get Scorecard",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        1120,
        144
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "situation_search",
          "mode": "list",
          "cachedResultName": "situation_search"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "opportunity_id": "={{ $('Resolve IDs').first().json.peopleai_opportunity_id }}",
            "query": "Deal stalled or progressing slowly — what coaching interventions and rep actions closed similar deals?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "opportunity_id",
              "displayName": "opportunity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9f2a2c3c-06aa-4394-8a32-380d80b70262",
      "name": "Situation Search",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        1344,
        144
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bulletproof merge: always returns strings, never [object Object]\nfunction extractText(nodeName) {\n  try {\n    const item = $(nodeName).first();\n    if (!item || !item.json) return '(no data returned)';\n    const raw = item.json;\n    let payload = raw;\n    if (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n      payload = raw.content[0].text !== undefined ? raw.content[0].text : raw.content[0];\n    } else if (Array.isArray(raw) && raw[0]) {\n      payload = raw[0].text !== undefined ? raw[0].text : raw[0];\n    }\n    if (typeof payload === 'string') {\n      const trimmed = payload.trim();\n      if (trimmed.startsWith('{') || trimmed.startsWith('[')) {\n        try { return JSON.stringify(JSON.parse(trimmed), null, 2); } catch(e) { return payload; }\n      }\n      return payload;\n    }\n    return JSON.stringify(payload, null, 2);\n  } catch(e) {\n    return `(extraction error: ${e.message})`;\n  }\n}\n\nconst resolved = $('Resolve IDs').first().json;\nreturn [{ json: {\n  opportunityName: resolved.opportunity_name,\n  accountName: resolved.account_name,\n  opportunityOwner: resolved.opportunity_owner,\n  opportunityAmount: resolved.opportunity_amount,\n  opportunityCloseDate: resolved.opportunity_close_date,\n  // pass-through user-set fields\n  ...$('Set Target').first().json,\n  opportunityStatus: extractText('Get Opportunity Status'),\n  scorecard: extractText('Get Scorecard'),\n  situationSearch: extractText('Situation Search'),\n} }];"
      },
      "id": "66176d29-2cee-4445-bbbe-0b72e401daa2",
      "name": "Merge MCP Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst fmt$ = (n) => n ? '$' + Number(n).toLocaleString() : 'Unknown';\n\nconst prompt = `You are a sales manager preparing a coaching brief for a 1:1.\n\nRep: ${j.rep_name || j.opportunityOwner || 'Unknown'}\nDeal: ${j.opportunityName} (${fmt$(j.opportunityAmount)})\nAccount: ${j.accountName}\n\n## Deal Status & Risk Signals\n${j.opportunityStatus}\n\n## Methodology Scorecard\n${j.scorecard}\n\n## Comparable Deals That Closed (Situation Search)\n${j.situationSearch}\n\nBuild a coaching brief as Slack mrkdwn:\n\n:teacher: *Coaching Brief — ${j.rep_name || 'Rep'} | ${j.opportunityName}*\n\n*Where the Deal Stands* — 2-3 sentence honest assessment\n\n*Scorecard Gaps* — missing or weak qualification elements with evidence\n\n*Comparable Deals That Won* — 2-3 from Situation Search; what the winning rep did differently\n\n*Coaching Questions* — 3 open-ended questions for the 1:1\n\n*Recommended Actions for Rep* — 3 specific next steps with owners and timing\n\nBe direct. Focus on gaps, not praise. Use Slack mrkdwn (*bold*, • bullets).`;\n\nreturn [{ json: { ...j, prompt } }];"
      },
      "id": "4daa91e2-7b94-4b39-9fcf-c41720b079c0",
      "name": "Build Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "0cbe17e3-c40a-4d4c-90ed-2f7919c27691",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2000,
        144
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "a4fee705-ad18-4bc2-9738-8ef5d170b3fe",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2000,
        352
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output || '';\nreturn [{ json: { slackText: text } }];"
      },
      "id": "d29b7881-6c9a-4370-bdcc-7a531e2a4a14",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        144
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.slackText }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "1e81c5c1-215d-4cc7-a0ab-a7e7e03bf20e",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2480,
        144
      ],
      "webhookId": "abb48f62-6417-4346-bb5d-a940562b4b92",
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/coaching",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        144
      ],
      "id": "5113ad5c-c05d-4b8c-aa16-2d6b73174952",
      "name": "Webhook",
      "webhookId": "3f2e7b4f-e9ed-4bff-a6f0-685c6d2ab2fe"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=:hourglass_flowing_sand: creating a coaching brief",
        "options": {}
      },
      "id": "bfe9321a-e06e-4676-8cdf-7406644a5bf6",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Set Target": {
      "main": [
        [
          {
            "node": "Find Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Account": {
      "main": [
        [
          {
            "node": "Resolve IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve IDs": {
      "main": [
        [
          {
            "node": "Get Opportunity Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opportunity Status": {
      "main": [
        [
          {
            "node": "Get Scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scorecard": {
      "main": [
        [
          {
            "node": "Situation Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situation Search": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge MCP Results": {
      "main": [
        [
          {
            "node": "Build Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "34-manager-coaching-brief-starter-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "34-manager-coaching-brief-starter",
  "tags": [],
  "description": "Creates an on-demand manager coaching brief by combining opportunity status, scorecard signal, and situation context into coaching points for the rep and manager."
}
