24-workflow-contract-validator/full.json
{
  "updatedAt": "2026-05-01T00:00:00.000Z",
  "createdAt": "2026-05-01T00:00:00.000Z",
  "id": "24-workflow-contract-validator-production",
  "name": "Workflow Contract Validator — Production Template",
  "description": "Validates canonical payloads, selected adapter-pack outputs, and customer-config assumptions so schema drift is caught before downstream automations break.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-24",
      "name": "Payload Validation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        220
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-contract-validator",
        "responseMode": "lastNode"
      },
      "notes": "Receive payload batches from upstream workflow steps before downstream automations consume them.",
      "notesInFlow": true
    },
    {
      "id": "params-24",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "contractRegistryUrl",
              "type": "string",
              "value": "={{ $env.WCV_CONTRACT_REGISTRY_URL || \"\" }}"
            },
            {
              "name": "defaultContractVersion",
              "type": "string",
              "value": "v1"
            },
            {
              "name": "customerConfigSchemaPath",
              "type": "string",
              "value": "/schemas/customer-stack-config.schema.json"
            },
            {
              "name": "adapterPackSchemaPath",
              "type": "string",
              "value": "/schemas/adapter-pack.schema.json"
            },
            {
              "name": "quarantineWebhookUrl",
              "type": "string",
              "value": "={{ $env.WCV_QUARANTINE_WEBHOOK_URL || \"\" }}"
            },
            {
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.WCV_DRY_RUN !== \"false\" }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Store contracts and quarantine behavior in a registry so validation stays stable even when connectors change.",
      "notesInFlow": true
    },
    {
      "id": "extract-24",
      "name": "Extract Payload Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        220
      ],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst customerConfig = payload.customerConfig || payload.stackConfig || {};\nconst selectedPacks = Array.isArray(payload.selectedPacks)\n  ? payload.selectedPacks\n  : Array.isArray(customerConfig.selected_packs)\n    ? customerConfig.selected_packs\n    : [];\nconst adapterPacks = Array.isArray(payload.adapterPacks)\n  ? payload.adapterPacks\n  : Array.isArray(payload.adapterPackManifests)\n    ? payload.adapterPackManifests\n    : [];\nconst expectedContracts = payload.expectedContracts || payload.producedContracts || [];\nreturn [{ json: {\n  workflowName: payload.workflowName || 'unknown-workflow',\n  boundaryName: payload.boundaryName || payload.stepName || 'unknown-boundary',\n  contractVersion: payload.contractVersion || $('Workflow Parameters').first().json.defaultContractVersion,\n  records: payload.records || payload.payloads || [payload],\n  customerConfigRef: payload.customerConfigRef || payload.configRef || '',\n  customerConfig,\n  selectedPacks,\n  selectedPackIds: selectedPacks.map((pack) => typeof pack === 'string' ? pack : pack.pack_id || pack.packId || '').filter(Boolean),\n  adapterPacks,\n  expectedContracts,\n  customerConfigSchemaPath: $('Workflow Parameters').first().json.customerConfigSchemaPath,\n  adapterPackSchemaPath: $('Workflow Parameters').first().json.adapterPackSchemaPath,\n  contractRegistryUrl: $('Workflow Parameters').first().json.contractRegistryUrl,\n  quarantineWebhookUrl: $('Workflow Parameters').first().json.quarantineWebhookUrl\n} }];"
      },
      "notes": "Normalize upstream shape differences so contract validation logic sees a stable wrapper object.",
      "notesInFlow": true
    },
    {
      "id": "analyze-24",
      "name": "Analyze Contract Drift",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        220
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Validate this workflow payload batch.\n\nWorkflow: {{ $json.workflowName }}\nBoundary: {{ $json.boundaryName }}\nContract version: {{ $json.contractVersion }}\nCustomer config ref: {{ $json.customerConfigRef }}\nSelected packs: {{ JSON.stringify($json.selectedPacks, null, 2) }}\nExpected contracts: {{ JSON.stringify($json.expectedContracts, null, 2) }}\nAdapter pack manifests: {{ JSON.stringify($json.adapterPacks, null, 2) }}\nRecords: {{ JSON.stringify($json.records, null, 2) }}\n\nReturn:\n- required fields likely present vs missing\n- drift, enum, or type mismatch risks\n- whether the payload should pass or quarantine\n- likely source of the mismatch\n- whether the selected adapter packs or customer config imply a different contract shape",
        "options": {
          "systemMessage": "You are a workflow contract validation assistant that checks canonical payloads against customer config and adapter-pack expectations."
        }
      },
      "notes": "Use this step to explain contract failures in plain language while the deterministic validator or registry enforces the actual pass/quarantine rule.",
      "notesInFlow": true
    },
    {
      "id": "model-24",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -320,
        40
      ],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "quarantine-24",
      "name": "Publish Validation Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.quarantineWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { workflowName: $json.workflowName, boundaryName: $json.boundaryName, contractVersion: $json.contractVersion, customerConfigRef: $json.customerConfigRef, selectedPackIds: $json.selectedPackIds || [], expectedContracts: $json.expectedContracts || [], review: $json.output || $json.text || \"Validation required\" } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "notes": "Replace this with your contract registry, pass-through path, and quarantine queue. Keep replay metadata with the failed batch.",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "configure-http-auth",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "wcv-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -140,
        440
      ],
      "notes": "Backstory MCP is available only for factual library, account, and workflow enrichment. It must not perform delivery side effects.",
      "notesInFlow": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "WCV-quarantine-24-gate-1",
              "leftValue": "={{ $('Workflow Parameters').first().json.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "WCV-quarantine-24-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wcv-delivery-gate-quarantine-24",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        220
      ]
    }
  ],
  "connections": {
    "Payload Validation Webhook": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Extract Payload Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload Context": {
      "main": [
        [
          {
            "node": "Analyze Contract Drift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Contract Drift",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Contract Drift": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Analyze Contract Drift",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Publish Validation Result",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24-workflow-contract-validator-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  }
}
