35-grounded-follow-up/full.json
{
  "name": "Content Generation — Grounded Follow-Up — Production Template",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Generate a grounded follow-up email/message based on real deal context\nreturn [{ json: {\n  account_name: 'ABBYY',\n  opportunity_hint: 'Data Governance',\n  content_type: 'follow_up_email',\n  recipient_role: 'Economic Buyer'\n}}];"
      },
      "id": "cb06c19a-ff21-4ff0-b76f-6db8db392264",
      "name": "Set Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "find_account",
          "mode": "list",
          "cachedResultName": "find_account"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "account_name": "={{ $('Set Target').first().json.account_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "account_name",
              "displayName": "account_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2b86c920-151c-441c-bb0e-15f2e1777f92",
      "name": "Find Account",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse find_account response, extract account_id and select the right opportunity\nconst raw = $json;\nconst target = $('Set Target').first().json;\n\nlet payload = raw;\nif (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n  const t = raw.content[0].text;\n  payload = (typeof t === 'string') ? JSON.parse(t) : t;\n}\n\nconst accountId = payload?.peopleai_account_id;\nconst accountName = payload?.name;\nconst opportunities = payload?.opportunities || [];\n\nif (!accountId) {\n  throw new Error(`Could not resolve account ID for \"${target.account_name}\". find_account returned: ${JSON.stringify(payload).slice(0,300)}`);\n}\nif (opportunities.length === 0) {\n  throw new Error(`No opportunities found for account \"${accountName}\".`);\n}\n\nlet selectedOpp;\nconst hint = (target.opportunity_hint || '').toLowerCase().trim();\nif (hint) {\n  selectedOpp = opportunities.find(o => (o.opportunity_name || '').toLowerCase().includes(hint));\n}\nif (!selectedOpp) {\n  selectedOpp = [...opportunities].sort((a, b) => (b.engagement_level || 0) - (a.engagement_level || 0))[0];\n}\n\nreturn [{ json: {\n  peopleai_account_id: accountId,\n  peopleai_opportunity_id: selectedOpp.peopleai_opportunity_id,\n  account_name: accountName,\n  account_domain: payload?.domain,\n  opportunity_name: selectedOpp.opportunity_name,\n  opportunity_amount: selectedOpp.amount,\n  opportunity_close_date: selectedOpp.close_date,\n  opportunity_engagement_level: selectedOpp.engagement_level,\n  opportunity_owner: selectedOpp.owner?.name,\n  opportunity_type: selectedOpp.type,\n  all_opportunities: opportunities.map(o => ({ id: o.peopleai_opportunity_id, name: o.opportunity_name })),\n  ...target\n} }];"
      },
      "id": "d9427edd-a812-4a58-a501-1e1de289c940",
      "name": "Resolve IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "get_recent_opportunity_activity",
          "mode": "list",
          "cachedResultName": "get_recent_opportunity_activity"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_opportunity_id": "={{ $('Resolve IDs').first().json.peopleai_opportunity_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_opportunity_id",
              "displayName": "peopleai_opportunity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fa6f07e5-c77c-47d5-a3a5-a86cfa85b055",
      "name": "Get Recent Opp Activity",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "ask_sales_ai_about_opportunity",
          "mode": "list",
          "cachedResultName": "ask_sales_ai_about_opportunity"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "peopleai_opportunity_id": "={{ $('Resolve IDs').first().json.peopleai_opportunity_id }}",
            "question": "What are the main risks, blockers, and open questions on this deal right now?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "peopleai_opportunity_id",
              "displayName": "peopleai_opportunity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d8c47c87-a4b4-409c-8e6d-5ae23aad000e",
      "name": "Ask SalesAI: Deal Risks",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "tool": {
          "__rl": true,
          "value": "situation_search",
          "mode": "list",
          "cachedResultName": "situation_search"
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {
            "opportunity_id": "={{ $('Resolve IDs').first().json.peopleai_opportunity_id }}",
            "query": "Deal stalled with open questions or blockers — what messaging and tactics moved similar deals forward with the buyer?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "opportunity_id",
              "displayName": "opportunity_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e2cdc9f8-341f-4cc8-acad-40b1d776e079",
      "name": "Situation Search",
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        1344,
        0
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bulletproof merge: always returns strings, never [object Object]\nfunction extractText(nodeName) {\n  try {\n    const item = $(nodeName).first();\n    if (!item || !item.json) return '(no data returned)';\n    const raw = item.json;\n    let payload = raw;\n    if (raw.content && Array.isArray(raw.content) && raw.content[0]) {\n      payload = raw.content[0].text !== undefined ? raw.content[0].text : raw.content[0];\n    } else if (Array.isArray(raw) && raw[0]) {\n      payload = raw[0].text !== undefined ? raw[0].text : raw[0];\n    }\n    if (typeof payload === 'string') {\n      const trimmed = payload.trim();\n      if (trimmed.startsWith('{') || trimmed.startsWith('[')) {\n        try { return JSON.stringify(JSON.parse(trimmed), null, 2); } catch(e) { return payload; }\n      }\n      return payload;\n    }\n    return JSON.stringify(payload, null, 2);\n  } catch(e) {\n    return `(extraction error: ${e.message})`;\n  }\n}\n\nconst resolved = $('Resolve IDs').first().json;\nreturn [{ json: {\n  opportunityName: resolved.opportunity_name,\n  accountName: resolved.account_name,\n  opportunityOwner: resolved.opportunity_owner,\n  opportunityAmount: resolved.opportunity_amount,\n  opportunityCloseDate: resolved.opportunity_close_date,\n  // pass-through user-set fields\n  ...$('Set Target').first().json,\n  recentActivity: extractText('Get Recent Opp Activity'),\n  dealRisks: extractText('Ask SalesAI: Deal Risks'),\n  situationSearch: extractText('Situation Search'),\n} }];"
      },
      "id": "574cdd0f-988a-4c58-8045-9c3c4980093b",
      "name": "Merge MCP Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\n\nconst prompt = `You are a B2B sales assistant drafting a grounded follow-up email.\n\nDeal: ${j.opportunityName}\nAccount: ${j.accountName}\nRecipient Role: ${j.recipient_role || 'Economic Buyer'}\n\n## Recent Deal Activity\n${j.recentActivity}\n\n## Current Risks & Blockers\n${j.dealRisks}\n\n## How Similar Deals Progressed (Situation Search)\n${j.situationSearch}\n\nDraft a follow-up email for the ${j.recipient_role || 'recipient'}. Requirements:\n- Opening line references something specific from recent activity (not generic)\n- Body addresses the most relevant risk or blocker head-on\n- Include one reference to how a similar situation was resolved — as social proof, not a name drop\n- CTA is specific and low-friction\n- Tone: direct, peer-level, no fluff\n- Length: 150 words max\n\nAfter the email draft, add a short *Grounding Note* explaining which specific activity or signal each section is based on.\n\nFormat for Slack (mrkdwn):\n\n:pencil: *Draft Follow-Up — ${j.opportunityName}*\n_Review before sending · Grounding note included_\n\n[email draft]\n\n*Grounding Note*\n[which activity/signal each section references]`;\n\nreturn [{ json: { ...j, prompt } }];"
      },
      "id": "0140306e-43f9-45e8-b507-03bbc3c83efa",
      "name": "Build Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "3796fd00-ead8-4acb-88e3-577a2de1437d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "ac1f335c-900b-48d6-9b8e-f539dad13b17",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2000,
        208
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output || '';\nreturn [{ json: { slackText: text } }];"
      },
      "id": "c32c1f2b-1d3b-4c5a-bace-675a0465e6c0",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.GFU_DEFAULT_CHANNEL_ID || \"\" }}",
          "mode": "id"
        },
        "text": "={{ $json.slackText }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "ab6317d2-cada-48b5-b424-17757e26736e",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2448,
        0
      ],
      "webhookId": "08bc3f96-a518-43b2-a214-9ccb80668341",
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/content",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        0
      ],
      "id": "cfc76e30-fef1-47f6-9762-4ec79c700dc4",
      "name": "Webhook",
      "webhookId": "3f2e7b4f-e9ed-4bff-a6f0-685c6d2ab2fe"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=:hourglass_flowing_sand: creating content generation plan",
        "options": {}
      },
      "id": "ab77e8b8-7107-43f6-8426-de91d8586fdb",
      "name": "Ack Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "GFU-ab6317d2-cada-48b5-b424-17757e26736e-gate-1",
              "leftValue": "={{ $env.GFU_DRY_RUN !== \"false\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "GFU-ab6317d2-cada-48b5-b424-17757e26736e-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gfu-delivery-gate-ab6317d2-cada-48b5-b424-17757e26736e",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2228,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Set Target": {
      "main": [
        [
          {
            "node": "Find Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Account": {
      "main": [
        [
          {
            "node": "Resolve IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve IDs": {
      "main": [
        [
          {
            "node": "Get Recent Opp Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Opp Activity": {
      "main": [
        [
          {
            "node": "Ask SalesAI: Deal Risks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask SalesAI: Deal Risks": {
      "main": [
        [
          {
            "node": "Situation Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situation Search": {
      "main": [
        [
          {
            "node": "Merge MCP Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge MCP Results": {
      "main": [
        [
          {
            "node": "Build Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Ack Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "35-grounded-follow-up-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  },
  "id": "35-grounded-follow-up-production",
  "tags": [],
  "description": "Generates a grounded follow-up draft using recent opportunity activity, deal-risk context, and situation evidence so the outbound message stays tied to the actual deal state."
}
