20-crm-signal-normalizer/full.json
{
  "updatedAt": "2026-04-30T00:00:00.000Z",
  "createdAt": "2026-04-30T00:00:00.000Z",
  "id": "20-crm-signal-normalizer-production",
  "name": "CRM Signal Normalizer — Production Template",
  "description": "Normalizes CRM records using a selected CRM adapter pack so Salesforce, Dynamics 365, HubSpot, or custom sources produce one canonical source_record payload for downstream workflows.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-20",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        240
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * 1-5"
            }
          ]
        }
      },
      "notes": "Poll for changed CRM records every two hours on weekdays, or replace with a webhook if your CRM can push change events.",
      "notesInFlow": true
    },
    {
      "id": "params-20",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        240
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "crmSource",
              "type": "string",
              "value": "Dynamics 365"
            },
            {
              "name": "sourceApiBaseUrl",
              "type": "string",
              "value": "={{ $env.CSN_SOURCE_API_BASE_URL || \"\" }}"
            },
            {
              "name": "sourceApiToken",
              "type": "string",
              "value": "={{ $env.CSN_SOURCE_API_TOKEN || \"\" }}"
            },
            {
              "name": "mappingProfile",
              "type": "string",
              "value": "canonical-opportunity-v1"
            },
            {
              "name": "defaultCrmAdapterPackId",
              "type": "string",
              "value": "crm.salesforce.opportunity-signals"
            },
            {
              "name": "assetRegistryUrl",
              "type": "string",
              "value": "={{ $env.CSN_ASSET_REGISTRY_URL || \"\" }}"
            },
            {
              "name": "outputWebhookUrl",
              "type": "string",
              "value": "={{ $env.CSN_OUTPUT_WEBHOOK_URL || \"\" }}"
            },
            {
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.CSN_DRY_RUN !== \"false\" }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Swap the source API details for Salesforce, Dynamics, HubSpot, or a custom warehouse API.",
      "notesInFlow": true
    },
    {
      "id": "fetch-20",
      "name": "Fetch Changed CRM Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        240
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.sourceApiBaseUrl + '/crm/changed-records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.sourceApiToken }}"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "notes": "Fetch only changed records or CDC batches so the normalizer stays efficient.",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "configure-http-auth",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "id": "normalize-20",
      "name": "Normalize to Canonical Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        240
      ],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst records = payload.records || payload.items || payload.data || [];\nconst params = $('Workflow Parameters').first().json;\nconst customerConfig = payload.customerConfig || payload.stackConfig || {};\nconst selectedPacks = Array.isArray(customerConfig.selected_packs) ? customerConfig.selected_packs : [];\nconst adapterPackId = payload.crmAdapterPackId || payload.adapterPackId || selectedPacks.find((pack) => pack.role === 'crm')?.pack_id || params.defaultCrmAdapterPackId;\nconst adapterPack = payload.crmAdapterPack || payload.adapterPackManifest || {};\nconst fieldOverrides = payload.fieldOverrides || customerConfig.field_overrides?.crm || {};\nreturn records.map((record, index) => ({ json: {\n  recordIndex: index + 1,\n  crmSource: payload.crmSource || params.crmSource,\n  adapterPackId,\n  adapterPack,\n  customerConfigRef: payload.customerConfigRef || payload.configRef || '',\n  fieldOverrides,\n  mappingProfile: payload.mappingProfile || params.mappingProfile,\n  canonical: {\n    accountName: record.accountName || record.account?.name || record.company || record.customerName || '',\n    opportunityName: record.opportunityName || record.dealName || record.topic || '',\n    stage: record.stage || record.salesStage || record.status || '',\n    amount: record.amount || record.value || record.estRevenue || '',\n    owner: record.ownerName || record.owner?.name || record.assignedTo || '',\n    closeDate: record.closeDate || record.estimatedClose || '',\n    sourceId: record.id || record.opportunityId || record.accountId || `record-${index + 1}`\n  },\n  rawRecord: record\n} }));"
      },
      "notes": "Map each CRM into the same field contract so downstream workflows do not care whether the source was Salesforce, Dynamics, HubSpot, or a custom system.",
      "notesInFlow": true
    },
    {
      "id": "agent-20",
      "name": "Run Mapping QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        240
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Review this canonical CRM payload for downstream workflow readiness.\n\nCRM source: {{ $json.crmSource }}\nCRM adapter pack ID: {{ $json.adapterPackId }}\nCustomer config ref: {{ $json.customerConfigRef }}\nField overrides: {{ JSON.stringify($json.fieldOverrides, null, 2) }}\nAdapter pack manifest: {{ JSON.stringify($json.adapterPack, null, 2) }}\nCanonical payload: {{ JSON.stringify($json.canonical, null, 2) }}\nRaw record: {{ JSON.stringify($json.rawRecord, null, 2) }}\n\nReturn:\n- fields that mapped correctly\n- missing or ambiguous fields\n- pack or field-override gaps\n- risks for downstream Backstory workflows\n- recommended fallback logic",
        "options": {
          "systemMessage": "You are a CRM schema normalization reviewer focused on reusable workflow payloads and adapter-pack driven mappings."
        }
      },
      "notes": "Optional QA step that catches field drift before the canonical event is published broadly.",
      "notesInFlow": true
    },
    {
      "id": "model-20",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -100,
        40
      ],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "publish-20",
      "name": "Publish Canonical Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Parameters').first().json.outputWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { source: $json.crmSource, adapterPackId: $json.adapterPackId, customerConfigRef: $json.customerConfigRef, canonical: $json.canonical, mappingQa: $json.output || $json.text || \"\" } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "notes": "Replace this with a queue, webhook, warehouse, or internal service that feeds the rest of your workflow library.",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "configure-http-auth",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "csn-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        80,
        460
      ],
      "notes": "Backstory MCP is available only for factual library, account, and workflow enrichment. It must not perform delivery side effects.",
      "notesInFlow": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "CSN-publish-20-gate-1",
              "leftValue": "={{ $('Workflow Parameters').first().json.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "CSN-publish-20-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "csn-delivery-gate-publish-20",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -100,
        240
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Fetch Changed CRM Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Changed CRM Records": {
      "main": [
        [
          {
            "node": "Normalize to Canonical Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize to Canonical Schema": {
      "main": [
        [
          {
            "node": "Run Mapping QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Run Mapping QA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run Mapping QA": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Run Mapping QA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Publish Canonical Batch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20-crm-signal-normalizer-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  }
}
