20-crm-signal-normalizer/starter.json
{
  "updatedAt": "2026-04-30T00:00:00.000Z",
  "createdAt": "2026-04-30T00:00:00.000Z",
  "id": "20-crm-signal-normalizer-starter",
  "name": "CRM Signal Normalizer - Backstory Starter",
  "description": "Normalizes Salesforce, Dynamics 365, HubSpot, or custom CRM records into a canonical account, contact, opportunity, and activity payload for downstream Backstory workflows.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-20",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        240
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * 1-5"
            }
          ]
        }
      },
      "notes": "Poll for changed CRM records every two hours on weekdays, or replace with a webhook if your CRM can push change events.",
      "notesInFlow": true
    },
    {
      "id": "params-20",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        240
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "crmSource",
              "type": "string",
              "value": "Dynamics 365"
            },
            {
              "name": "sourceApiBaseUrl",
              "type": "string",
              "value": "https://your-crm.example.com/api"
            },
            {
              "name": "sourceApiToken",
              "type": "string",
              "value": "YOUR_SOURCE_API_TOKEN"
            },
            {
              "name": "mappingProfile",
              "type": "string",
              "value": "canonical-opportunity-v1"
            },
            {
              "name": "outputWebhookUrl",
              "type": "string",
              "value": "https://your-normalized-event-bus.example.com"
            }
          ]
        },
        "options": {}
      },
      "notes": "Swap the source API details for Salesforce, Dynamics, HubSpot, or a custom warehouse API.",
      "notesInFlow": true
    },
    {
      "id": "fetch-20",
      "name": "Fetch Changed CRM Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        240
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.sourceApiBaseUrl + '/crm/changed-records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.sourceApiToken }}"
            }
          ]
        }
      },
      "notes": "Fetch only changed records or CDC batches so the normalizer stays efficient.",
      "notesInFlow": true
    },
    {
      "id": "normalize-20",
      "name": "Normalize to Canonical Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        240
      ],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst records = payload.records || payload.items || payload.data || [];\nreturn records.map((record, index) => ({ json: {\n  recordIndex: index + 1,\n  crmSource: $('Workflow Parameters').first().json.crmSource,\n  canonical: {\n    accountName: record.accountName || record.account?.name || record.company || record.customerName || '',\n    opportunityName: record.opportunityName || record.dealName || record.topic || '',\n    stage: record.stage || record.salesStage || record.status || '',\n    amount: record.amount || record.value || record.estRevenue || '',\n    owner: record.ownerName || record.owner?.name || record.assignedTo || '',\n    closeDate: record.closeDate || record.estimatedClose || '',\n    sourceId: record.id || record.opportunityId || record.accountId || `record-${index + 1}`\n  },\n  rawRecord: record\n} }));"
      },
      "notes": "Map each CRM into the same field contract so downstream workflows do not care whether the source was Salesforce, Dynamics, HubSpot, or a custom system.",
      "notesInFlow": true
    },
    {
      "id": "agent-20",
      "name": "Run Mapping QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        240
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Review this canonical CRM payload for downstream workflow readiness.\n\nCRM source: {{ $json.crmSource }}\nCanonical payload: {{ JSON.stringify($json.canonical, null, 2) }}\nRaw record: {{ JSON.stringify($json.rawRecord, null, 2) }}\n\nReturn:\n- fields that mapped correctly\n- missing or ambiguous fields\n- risks for downstream Backstory workflows\n- recommended fallback logic",
        "options": {
          "systemMessage": "You are a CRM schema normalization reviewer focused on reusable workflow payloads."
        }
      },
      "notes": "Optional QA step that catches field drift before the canonical event is published broadly.",
      "notesInFlow": true
    },
    {
      "id": "model-20",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -100,
        40
      ],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      }
    },
    {
      "id": "publish-20",
      "name": "Publish Canonical Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Parameters').first().json.outputWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { source: $json.crmSource, canonical: $json.canonical, mappingQa: $json.output || $json.text || '' } }}"
      },
      "notes": "Replace this with a queue, webhook, warehouse, or internal service that feeds the rest of your workflow library.",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Fetch Changed CRM Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Changed CRM Records": {
      "main": [
        [
          {
            "node": "Normalize to Canonical Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize to Canonical Schema": {
      "main": [
        [
          {
            "node": "Run Mapping QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Run Mapping QA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run Mapping QA": {
      "main": [
        [
          {
            "node": "Publish Canonical Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "starter-20",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
