18-channel-pulse/full.json
{
  "name": "Channel Pulse — Production Template",
  "description": "Refactored Channel Pulse workflow that normalizes schedule and webhook triggers into one run_context contract, pulls candidate account updates through a shared source adapter, uses bounded MCP-backed synthesis, and posts native Slack updates through shared routing and delivery sub-workflows.",
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "18-channel-pulse-production-v2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "18-channel-pulse-production",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "cp-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1420,
        -120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "channel-pulse",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cp-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1420,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Channel Pulse is preparing the account update now.",
        "options": {}
      },
      "id": "cp-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1180,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cp-ctx-1",
              "name": "workflow_id",
              "type": "string",
              "value": "18-channel-pulse"
            },
            {
              "id": "cp-ctx-2",
              "name": "workflow_name",
              "type": "string",
              "value": "Channel Pulse"
            },
            {
              "id": "cp-ctx-3",
              "name": "mode",
              "type": "string",
              "value": "production"
            },
            {
              "id": "cp-ctx-4",
              "name": "trigger_type",
              "type": "string",
              "value": "schedule"
            },
            {
              "id": "cp-ctx-5",
              "name": "lookback_days",
              "type": "number",
              "value": 7
            },
            {
              "id": "cp-ctx-6",
              "name": "delivery_mode",
              "type": "string",
              "value": "slack"
            },
            {
              "id": "cp-ctx-7",
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.CP_DRY_RUN === \"true\" }}"
            },
            {
              "id": "cp-ctx-8",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $env.CP_SOURCE_API_BASE_URL || \"\" }}"
            },
            {
              "id": "cp-ctx-9",
              "name": "default_channel_id",
              "type": "string",
              "value": "={{ $env.CP_DEFAULT_CHANNEL_ID || \"\" }}"
            },
            {
              "id": "cp-ctx-10",
              "name": "min_acv",
              "type": "number",
              "value": "={{ Number($env.CP_MIN_ACV || 50000) }}"
            },
            {
              "id": "cp-ctx-11",
              "name": "requested_account_name",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "cp-normalize-scheduled",
      "name": "Normalize Scheduled Trigger",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1140,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{ json: {\n  workflow_id: '18-channel-pulse',\n  workflow_name: 'Channel Pulse',\n  mode: 'production',\n  trigger_type: 'webhook',\n  lookback_days: 7,\n  delivery_mode: 'slack',\n  dry_run: $env.CP_DRY_RUN === 'true',\n  source_api_base_url: ($env.CP_SOURCE_API_BASE_URL || ''),\n  default_channel_id: body.channel_id || ($env.CP_DEFAULT_CHANNEL_ID || ''),\n  min_acv: Number($env.CP_MIN_ACV || 50000),\n  requested_account_name: body.text || body.account_name || ''\n} }];"
      },
      "id": "cp-normalize-webhook",
      "name": "Normalize Webhook Trigger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1140,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cp-src-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "cp-src-2",
              "name": "source_system",
              "type": "string",
              "value": "channel_pulse_source"
            },
            {
              "id": "cp-src-3",
              "name": "source_path",
              "type": "string",
              "value": "/channel-pulse/accounts"
            },
            {
              "id": "cp-src-4",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "cp-src-5",
              "name": "source_body",
              "type": "json",
              "value": "={{ { lookback_days: $json.lookback_days, min_acv: $json.min_acv, requested_account_name: $json.requested_account_name || \"\", mode: $json.mode, dry_run: $json.dry_run } }}"
            },
            {
              "id": "cp-src-6",
              "name": "default_channel_id",
              "type": "string",
              "value": "={{ $json.default_channel_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cp-source-contract",
      "name": "Account Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_SOURCE_ADAPTER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "cp-source-adapter",
      "name": "Load Account Inputs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -560,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cp-prompt-1",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON only with keys title, body, should_post, target_type, target_id, thread_key, and account_name.\\n\\nYou are producing a scannable internal account-channel update. Use MCP only for enrichment and summary synthesis.\\n\\nRun context:\\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\\n\\nSource record:\\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}\\n\\nRules:\\n- should_post=false when the account has no material activity worth posting.\\n- body must be markdown-ready and concise for Slack.\\n- target_type should be channel unless the source explicitly requires a DM.\\n- target_id may be blank if routing should fall back to route_channel_id or default_channel_id."
            }
          ]
        },
        "options": {}
      },
      "id": "cp-build-prompt",
      "name": "Build Customer Update Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are a Slack update generator for internal customer channels. Use Backstory MCP only for enrichment. Output JSON only."
        }
      },
      "id": "cp-agent",
      "name": "Generate Customer Update",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        80
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "cp-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        0,
        280
      ],
      "credentials": {
        "anthropicApi": {
          "id": "RH89X48uFH0LBJfi",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "cp-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        280,
        280
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "Q1kXqY8UNNjUmYLH",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || item.message || '{}';\nconst cleaned = String(raw).trim().replace(/^```json\\s*/i, '').replace(/^```/, '').replace(/```$/, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    title: item.account_name || item.accountName || 'Channel Pulse',\n    body: cleaned || 'No structured update returned.',\n    should_post: true,\n    target_type: 'channel',\n    target_id: item.route_channel_id || item.default_channel_id || '',\n    thread_key: '',\n    account_name: item.account_name || item.accountName || 'Channel Pulse'\n  };\n}\nif (parsed.should_post === false) {\n  return [];\n}\nconst title = parsed.title || item.account_name || item.accountName || 'Channel Pulse';\nconst body = parsed.body || 'No structured update returned.';\nreturn [{ json: {\n  ...item,\n  account_name: parsed.account_name || item.account_name || item.accountName || title,\n  title,\n  body: body.startsWith('*') ? body : `*${title}*\\n\\n${body}`,\n  target_type: parsed.target_type || 'channel',\n  target_id: parsed.target_id || item.route_channel_id || item.default_channel_id || '',\n  thread_key: parsed.thread_key || '',\n  route_channel_id: item.route_channel_id || parsed.target_id || item.default_channel_id || ''\n} }];"
      },
      "id": "cp-parse",
      "name": "Parse Customer Update JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_IDENTITY_ROUTING_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "cp-route",
      "name": "Resolve Delivery Target",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        560,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_DELIVERY_RENDERER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "cp-render",
      "name": "Render Delivery Payload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        840,
        80
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.delivery_payload.target_id }}"
        },
        "text": "={{ $json.delivery_payload.body }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "cp-post-slack",
      "name": "Post Channel Update",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1120,
        80
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "aA0zZkZuOO7odmEe",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Normalize Scheduled Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Webhook Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Scheduled Trigger": {
      "main": [
        [
          {
            "node": "Account Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Trigger": {
      "main": [
        [
          {
            "node": "Account Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Source Contract": {
      "main": [
        [
          {
            "node": "Load Account Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Account Inputs": {
      "main": [
        [
          {
            "node": "Build Customer Update Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Customer Update Prompt": {
      "main": [
        [
          {
            "node": "Generate Customer Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Customer Update",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Generate Customer Update",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Customer Update": {
      "main": [
        [
          {
            "node": "Parse Customer Update JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Customer Update JSON": {
      "main": [
        [
          {
            "node": "Resolve Delivery Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Delivery Target": {
      "main": [
        [
          {
            "node": "Render Delivery Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Delivery Payload": {
      "main": [
        [
          {
            "node": "Post Channel Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
