08-renewal-prep-brief/starter.json
{
  "updatedAt": "2026-04-29T16:58:33.963Z",
  "createdAt": "2026-04-29T16:58:33.963Z",
  "id": "bcdd76e2-ae08-45",
  "name": "Renewal Prep Brief - Backstory Starter",
  "description": "Automatically generates renewal preparation briefs at 60, 30, and 15 days before each account's renewal date. The workflow queries the CRM for upcoming renewals, enriches each account with Backstory engagement trends, support history, expansion signals, and key contact activity. An AI agent produces a structured brief covering account health, risk factors, expansion opportunities, and a recommended renewal strategy. Briefs are delivered to the assigned CSM and account executive via Messaging.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-08-renewal-prep-brief",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1184,
        256
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "notes": "Schedule — Daily 7:00 AM                             |",
      "notesInFlow": true
    },
    {
      "id": "config-08-renewal-prep-brief",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        256
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "backstory-client-id",
              "name": "backstoryClientId",
              "type": "string",
              "value": "YOUR_BACKSTORY_CLIENT_ID"
            },
            {
              "id": "backstory-client-secret",
              "name": "backstoryClientSecret",
              "type": "string",
              "value": "YOUR_BACKSTORY_CLIENT_SECRET"
            },
            {
              "id": "slack-channel",
              "name": "slackChannelId",
              "type": "string",
              "value": "YOUR_SLACK_CHANNEL_ID"
            },
            {
              "id": "lookback-days",
              "name": "lookbackDays",
              "type": "number",
              "value": 60
            },
            {
              "id": "source-base",
              "name": "crmApiBaseUrl",
              "type": "string",
              "value": "https://your-crm.example.com/api"
            },
            {
              "id": "source-token",
              "name": "sourceApiToken",
              "type": "string",
              "value": "YOUR_SOURCE_API_TOKEN"
            },
            {
              "id": "workflow-owner",
              "name": "workflowOwner",
              "type": "string",
              "value": "revops@your-company.com"
            },
            {
              "id": "test-mode",
              "name": "testMode",
              "type": "boolean",
              "value": true
            },
            {
              "id": "renewal-milestones",
              "name": "renewalMilestones",
              "type": "string",
              "value": "60,30,15"
            }
          ]
        },
        "options": {}
      },
      "notes": "Fetch accounts with renewal milestones at 60, 30, or 15 days and include owner + contract metadata. Replace the placeholder API endpoints and tokens with real systems before enabling this workflow.",
      "notesInFlow": true
    },
    {
      "id": "auth-08-renewal-prep-brief",
      "name": "Get Backstory Auth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        256
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.people.ai/v3/auth/tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.backstoryClientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.backstoryClientSecret }}"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "notes": "Optional if you are using MCP only, but kept here to match the existing repo’s n8n patterns.",
      "notesInFlow": true
    },
    {
      "id": "source-08-renewal-prep-brief",
      "name": "Fetch Source Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -512,
        256
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.crmApiBaseUrl + '/accounts/renewals' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.sourceApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "notes": "Fetch accounts with renewal milestones at 60, 30, or 15 days and include owner + contract metadata.",
      "notesInFlow": true
    },
    {
      "id": "normalize-08-renewal-prep-brief",
      "name": "Normalize Source Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        256
      ],
      "parameters": {
        "jsCode": "const payload = $json;\nconst collections = [payload.records, payload.items, payload.data, payload.renewals, payload.emails, payload.accounts, payload.deals, payload.meetings, payload.mqls].filter(Boolean);\nconst rawItems = Array.isArray(collections[0]) ? collections[0] : (Array.isArray(payload.body?.items) ? payload.body.items : []);\nconst fallback = rawItems.length ? rawItems : [payload.body || payload];\nreturn fallback.filter(Boolean).map((record, index) => ({\n  json: {\n    workflowId: '08-renewal-prep-brief',\n    workflowName: 'Renewal Prep Brief',\n    sourceKind: 'upcoming renewals',\n    recordIndex: index + 1,\n    record,\n    recordSummary: record.name || record.subject || record.accountName || record.opportunityName || record.email || record.id || 'source-record-' + (index + 1)\n  }\n}));"
      },
      "notes": "Converts raw upcoming renewals responses into one item per record for downstream AI analysis.",
      "notesInFlow": true
    },
    {
      "id": "agent-08-renewal-prep-brief",
      "name": "Analyze Renewal Prep Brief",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -64,
        160
      ],
      "parameters": {
        "promptType": "define",
        "text": "=You are generating the Renewal Prep Brief workflow output.\n\nPURPOSE:\nAutomatically generates renewal preparation briefs at 60, 30, and 15 days before each account's renewal date. The workflow queries the CRM for upcoming renewals, enriches each account with Backstory engagement trends, support history, expansion signals, and key contact activity. An AI agent produces a structured brief covering account health, risk factors, expansion opportunities, and a recommended renewal strategy. Briefs are delivered to the assigned CSM and account executive via Messaging.\n\nSOURCE PAYLOAD:\n{{ JSON.stringify($json.record, null, 2) }}\n\nTASKS:\n1. Use Backstory MCP to enrich the record with the most relevant account, opportunity, engagement, or stakeholder context.\n2. Decide what matters most for the renewal prep brief use case.\n3. Produce a concise markdown summary with: headline, key findings, risks, recommended actions, and routing notes if applicable.\n\nOUTPUT REQUIREMENTS:\n- Keep it compact enough for Slack.\n- Prefer bullets.\n- Mention concrete dates, owners, amounts, or stages when the data provides them.\n- If the source record is incomplete, explicitly say what is missing.\n\nREFERENCE STYLE:\n🔄 **Renewal Prep Brief** — Globex Industries | ⏰ 30 Days to Renewal\n\n📊 **ACCOUNT SNAPSHOT:**\n- ARR: ===$340,000=== | Renewal Date: Apr 8, 2026\n- Health Score: 6/10 (down from 8 at last QBR)\n- CSM: @emily.ross | AE: @sarah.chen\n\n🟢 **STRENGTHS:**\n- Product adoption: 87% feature utilization (above 75% benchmark)\n- Champion Lisa Wong remains actively engaged — 3 meetings in last 2 weeks",
        "options": {
          "systemMessage": "You are a Backstory workflow analyst generating Renewal Prep Brief outputs. Keep the response actionable, concrete, and Slack-friendly."
        }
      },
      "alwaysOutputData": true,
      "notes": "Wire your preferred LLM credentials to the chat model node after import.",
      "notesInFlow": true
    },
    {
      "id": "model-08-renewal-prep-brief",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        160,
        32
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      }
    },
    {
      "id": "mcp-08-renewal-prep-brief",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        160,
        256
      ],
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "notes": "This mirrors the existing workflow infrastructure in the repo. Add MCP auth headers after import.",
      "notesInFlow": true
    },
    {
      "id": "parse-08-renewal-prep-brief",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        160
      ],
      "parameters": {
        "jsCode": "const item = $json;\nconst text = item.output || item.response || item.text || '';\nreturn [{ json: { ...item, analysis: text.trim() } }];"
      }
    },
    {
      "id": "aggregate-08-renewal-prep-brief",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        160
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst title = \"🔄 **Renewal Prep Brief** — Globex Industries | ⏰ 30 Days to Renewal\";\nconst sections = items.map((item, idx) => {\n  const name = item.json.recordSummary || 'Record ' + (idx + 1);\n  const analysis = (item.json.analysis || '').trim() || '_No analysis returned._';\n  return '• *' + name + '*\\n' + analysis;\n});\nconst body = [title, '', ...sections].join('\\n\\n');\nreturn [{ json: { workflowId: '08-renewal-prep-brief', workflowName: 'Renewal Prep Brief', messageBody: body, itemCount: items.length } }];"
      },
      "notes": "Collapses all analyzed records into a single outbound summary. Replace this with per-owner routing if you want one message per rep/CSM/executive.",
      "notesInFlow": true
    },
    {
      "id": "merge-config-08-renewal-prep-brief",
      "name": "Attach Delivery Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        160
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      }
    },
    {
      "id": "slack-payload-08-renewal-prep-brief",
      "name": "Build Slack Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        160
      ],
      "parameters": {
        "jsCode": "const text = $json.messageBody;\nconst payload = {\n  channel: $json.slackChannelId || $json.channel || 'YOUR_SLACK_CHANNEL_ID',\n  text,\n  blocks: [{ type: 'section', text: { type: 'mrkdwn', text: text.length > 3000 ? text.slice(0, 2997) + '...' : text } }],\n  unfurl_links: false,\n  unfurl_media: false\n};\nreturn [{ json: { slackPayload: JSON.stringify(payload) } }];"
      }
    },
    {
      "id": "slack-08-renewal-prep-brief",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.slackPayload }}",
        "options": {}
      },
      "notes": "Swap this node for Teams or SMTP if Slack is not your delivery target.",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Get Backstory Auth Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach Delivery Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Backstory Auth Token": {
      "main": [
        [
          {
            "node": "Fetch Source Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Records": {
      "main": [
        [
          {
            "node": "Normalize Source Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Source Records": {
      "main": [
        [
          {
            "node": "Analyze Renewal Prep Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Renewal Prep Brief": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Renewal Prep Brief",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Analyze Renewal Prep Brief",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Attach Delivery Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Delivery Config": {
      "main": [
        [
          {
            "node": "Build Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Payload": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "triggerCount": 0,
  "tags": [
    "customer-success",
    "generated",
    "n8n"
  ]
}
