06-executive-inbox/starter.json
{
  "updatedAt": "2026-04-29T16:58:33.963Z",
  "createdAt": "2026-04-29T16:58:33.963Z",
  "id": "cd42f034-4395-44",
  "name": "Executive Inbox - Backstory Starter — Demo Starter",
  "description": "Automates executive email triage by reading unread email messages, identifying those from customers or prospects, enriching them with CRM context from Backstory, and using AI to classify and route each message. The AI Agent analyzes the email content alongside account history to determine urgency, category (support escalation, deal progression, renewal, executive outreach, etc.), and the appropriate internal channel or person. Routed messages land in the right Messaging channel (Slack, Teams, or Email) or trigger follow-up workflows, ensuring nothing falls through the cracks.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-06-executive-inbox",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1184,
        256
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "notes": "Schedule                                           |",
      "notesInFlow": true
    },
    {
      "id": "config-06-executive-inbox",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        256
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack-channel",
              "name": "slackChannelId",
              "type": "string",
              "value": "YOUR_SLACK_CHANNEL_ID"
            },
            {
              "id": "lookback-days",
              "name": "lookbackDays",
              "type": "number",
              "value": 1
            },
            {
              "id": "workflow-owner",
              "name": "workflowOwner",
              "type": "string",
              "value": "revops@your-company.com"
            },
            {
              "id": "test-mode",
              "name": "testMode",
              "type": "boolean",
              "value": true
            },
            {
              "id": "internal-domain",
              "name": "internalDomain",
              "type": "string",
              "value": "your-company.com"
            }
          ]
        },
        "options": {}
      },
      "notes": "Fetch unread external emails from the executive inbox and include sender, subject, body preview, and thread metadata. Replace the placeholder API endpoints and tokens with real systems before enabling this workflow.",
      "notesInFlow": true
    },
    {
      "id": "source-06-executive-inbox",
      "name": "Fetch Source Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        256
      ],
      "parameters": {
        "jsCode": "return [{\"json\":{\"id\":\"demo-msg-1\",\"subject\":\"Re: Q3 rollout timeline\",\"from\":\"cfo@globex.com\",\"receivedAt\":\"2026-06-24T14:02:00Z\",\"bodyPreview\":\"Can we confirm the security review is on track before sign-off?\"}},{\"json\":{\"id\":\"demo-msg-2\",\"subject\":\"Renewal paperwork\",\"from\":\"procurement@initech.com\",\"receivedAt\":\"2026-06-24T16:40:00Z\",\"bodyPreview\":\"Legal flagged two redlines on the MSA — see attached.\"}}];"
      },
      "notes": "Demo Starter: returns offline sample records so the workflow runs without a connected system. Replace with the production native source node (see full.json) before go-live.",
      "notesInFlow": true
    },
    {
      "id": "normalize-06-executive-inbox",
      "name": "Normalize Source Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        256
      ],
      "parameters": {
        "jsCode": "const payload = $json;\nconst collections = [payload.records, payload.items, payload.data, payload.emails, payload.emails, payload.accounts, payload.deals, payload.meetings, payload.mqls].filter(Boolean);\nconst rawItems = Array.isArray(collections[0]) ? collections[0] : (Array.isArray(payload.body?.items) ? payload.body.items : []);\nconst fallback = rawItems.length ? rawItems : [payload.body || payload];\nreturn fallback.filter(Boolean).map((record, index) => ({\n  json: {\n    workflowId: '06-executive-inbox',\n    workflowName: 'Executive Inbox',\n    sourceKind: 'executive inbox messages',\n    recordIndex: index + 1,\n    record,\n    recordSummary: record.name || record.subject || record.accountName || record.opportunityName || record.email || record.id || 'source-record-' + (index + 1)\n  }\n}));"
      },
      "notes": "Converts raw executive inbox messages responses into one item per record for downstream AI analysis.",
      "notesInFlow": true
    },
    {
      "id": "agent-06-executive-inbox",
      "name": "Analyze Executive Inbox",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -64,
        160
      ],
      "parameters": {
        "promptType": "define",
        "text": "=You are generating the Executive Inbox workflow output.\n\nPURPOSE:\nAutomates executive email triage by reading unread email messages, identifying those from customers or prospects, enriching them with CRM context from Backstory, and using AI to classify and route each message. The AI Agent analyzes the email content alongside account history to determine urgency, category (support escalation, deal progression, renewal, executive outreach, etc.), and the appropriate internal channel or person. Routed messages land in the right Messaging channel (Slack, Teams, or Email) or trigger follow-up workflows, ensuring nothing falls through the cracks.\n\nSOURCE PAYLOAD:\n{{ JSON.stringify($json.record, null, 2) }}\n\nTASKS:\n1. Use Backstory MCP to enrich the record with the most relevant account, opportunity, engagement, or stakeholder context.\n2. Decide what matters most for the executive inbox use case.\n3. Produce a concise markdown summary with: headline, key findings, risks, recommended actions, and routing notes if applicable.\n\nOUTPUT REQUIREMENTS:\n- Keep it compact enough for Slack.\n- Prefer bullets.\n- Mention concrete dates, owners, amounts, or stages when the data provides them.\n- If the source record is incomplete, explicitly say what is missing.\n\nREFERENCE STYLE:\n📬 **Executive Inbox Triage** — 6 emails classified | 2 urgent\n\n🔴 **URGENT — Immediate Action:**\n- **From:** Dan Reeves, VP Engineering @ ACME Corp\n- **Subject:** \"Need to discuss contract terms before Friday\"\n- **Account:** ===$425,000=== deal in Negotiation stage\n- **Context:** Dan is the economic buyer — first direct email in 3 weeks. Backstory shows 2 missed calls from Dan yesterday\n- 👉 Routed to: #acme-deal-room + @sarah.chen (account owner)\n\n- **From:** Lisa Wong, Director of IT @ Globex Industries",
        "options": {
          "systemMessage": "You are a Backstory workflow analyst generating Executive Inbox outputs. Keep the response actionable, concrete, and Slack-friendly."
        }
      },
      "alwaysOutputData": true,
      "notes": "Wire your preferred LLM credentials to the chat model node after import.",
      "notesInFlow": true
    },
    {
      "id": "model-06-executive-inbox",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        160,
        32
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "mcp-06-executive-inbox",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        160,
        256
      ],
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "notes": "This mirrors the existing workflow infrastructure in the repo. Add MCP auth headers after import.",
      "notesInFlow": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "id": "parse-06-executive-inbox",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        160
      ],
      "parameters": {
        "jsCode": "const item = $json;\nconst text = item.output || item.response || item.text || '';\nreturn [{ json: { ...item, analysis: text.trim() } }];"
      }
    },
    {
      "id": "aggregate-06-executive-inbox",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        160
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst title = \"📬 **Executive Inbox Triage** — 6 emails classified | 2 urgent\";\nconst sections = items.map((item, idx) => {\n  const name = item.json.recordSummary || 'Record ' + (idx + 1);\n  const analysis = (item.json.analysis || '').trim() || '_No analysis returned._';\n  return '• *' + name + '*\\n' + analysis;\n});\nconst body = [title, '', ...sections].join('\\n\\n');\nreturn [{ json: { workflowId: '06-executive-inbox', workflowName: 'Executive Inbox', messageBody: body, itemCount: items.length } }];"
      },
      "notes": "Collapses all analyzed records into a single outbound summary. Replace this with per-owner routing if you want one message per rep/CSM/executive.",
      "notesInFlow": true
    },
    {
      "id": "merge-config-06-executive-inbox",
      "name": "Attach Delivery Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        160
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      }
    },
    {
      "id": "slack-payload-06-executive-inbox",
      "name": "Build Slack Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        160
      ],
      "parameters": {
        "jsCode": "const text = $json.messageBody;\nconst payload = {\n  channel: $json.slackChannelId || $json.channel || 'YOUR_SLACK_CHANNEL_ID',\n  text,\n  blocks: [{ type: 'section', text: { type: 'mrkdwn', text: text.length > 3000 ? text.slice(0, 2997) + '...' : text } }],\n  unfurl_links: false,\n  unfurl_media: false\n};\nreturn [{ json: { slackPayload: JSON.stringify(payload) } }];"
      }
    },
    {
      "id": "slack-06-executive-inbox",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1056,
        160
      ],
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ JSON.parse($json.slackPayload).channel }}"
        },
        "text": "={{ JSON.parse($json.slackPayload).text || JSON.parse($json.slackPayload).blocks?.[0]?.text?.text || \"\" }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "notes": "Converted from raw Slack HTTP delivery to the native Slack node.",
      "notesInFlow": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Fetch Source Records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach Delivery Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Source Records": {
      "main": [
        [
          {
            "node": "Normalize Source Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Source Records": {
      "main": [
        [
          {
            "node": "Analyze Executive Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Executive Inbox": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Executive Inbox",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Analyze Executive Inbox",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Attach Delivery Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Delivery Config": {
      "main": [
        [
          {
            "node": "Build Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Payload": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "triggerCount": 0,
  "versionId": "06-executive-inbox-starter"
}
