05-forecast-coach/full.json
{
  "name": "Forecast Coach — Production Template",
  "description": "Refactored Forecast Coach workflow that pulls leader-ready pipeline context from a shared source adapter, uses one bounded synthesis step for coaching guidance, and sends deterministic email reports without inline roster or CSV parsing code.",
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "05-forecast-coach-production-v2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "05-forecast-coach-production",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "fc-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1100,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc-ctx-1",
              "name": "workflow_id",
              "type": "string",
              "value": "05-forecast-coach"
            },
            {
              "id": "fc-ctx-2",
              "name": "workflow_name",
              "type": "string",
              "value": "Forecast Coach"
            },
            {
              "id": "fc-ctx-3",
              "name": "mode",
              "type": "string",
              "value": "production"
            },
            {
              "id": "fc-ctx-4",
              "name": "trigger_type",
              "type": "string",
              "value": "schedule"
            },
            {
              "id": "fc-ctx-5",
              "name": "lookback_days",
              "type": "number",
              "value": 90
            },
            {
              "id": "fc-ctx-6",
              "name": "delivery_mode",
              "type": "string",
              "value": "email"
            },
            {
              "id": "fc-ctx-7",
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.FC_DRY_RUN === \"true\" }}"
            },
            {
              "id": "fc-ctx-8",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $env.FC_SOURCE_API_BASE_URL || \"\" }}"
            },
            {
              "id": "fc-ctx-9",
              "name": "from_email",
              "type": "string",
              "value": "={{ $env.FC_FROM_EMAIL || $env.BACKSTORY_NO_REPLY_EMAIL || \"success@backstory.ai\" }}"
            },
            {
              "id": "fc-ctx-10",
              "name": "report_limit",
              "type": "number",
              "value": "={{ Number($env.FC_REPORT_LIMIT || 8) }}"
            },
            {
              "id": "fc-ctx-11",
              "name": "quarter_scope",
              "type": "string",
              "value": "current_quarter"
            }
          ]
        },
        "options": {}
      },
      "id": "fc-config",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc-src-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "fc-src-2",
              "name": "source_system",
              "type": "string",
              "value": "forecast_coach_source"
            },
            {
              "id": "fc-src-3",
              "name": "source_path",
              "type": "string",
              "value": "/forecast-coach/leader-pipeline"
            },
            {
              "id": "fc-src-4",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "fc-src-5",
              "name": "source_body",
              "type": "json",
              "value": "={{ { lookback_days: $json.lookback_days, quarter_scope: $json.quarter_scope, report_limit: $json.report_limit, mode: $json.mode, dry_run: $json.dry_run } }}"
            },
            {
              "id": "fc-src-6",
              "name": "from_email",
              "type": "string",
              "value": "={{ $json.from_email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fc-source-contract",
      "name": "Leader Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_SOURCE_ADAPTER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "fc-source-adapter",
      "name": "Load Leader Inputs",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -280,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc-prompt-1",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON only with keys leader_name, leader_email, subject, plain_text, html_body, should_send, summary_detail, and focus_deals.\\n\\nYou are producing a weekly forecast coaching report for one leader. Use MCP only for enrichment and factual analysis.\\n\\nRun context:\\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\\n\\nSource record:\\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}\\n\\nRules:\\n- should_send must be false only when there is no meaningful coaching content.\\n- plain_text must be markdown-style and scannable in email.\\n- html_body must be lightweight, deterministic HTML with short sections.\\n- focus_deals must be an array of deal names or deal/account labels."
            }
          ]
        },
        "options": {}
      },
      "id": "fc-build-prompt",
      "name": "Build Coaching Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are a forecast-coaching analyst. Use Backstory MCP only for enrichment. Output JSON only and keep delivery deterministic."
        }
      },
      "id": "fc-agent",
      "name": "Generate Coaching Report",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        280,
        80
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "fc-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        280,
        280
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "fc-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        560,
        280
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || item.message || '{}';\nconst cleaned = String(raw).trim().replace(/^```json\\s*/i, '').replace(/^```/, '').replace(/```$/, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    leader_name: item.leader_name || item.owner || 'Sales Leader',\n    leader_email: item.leader_email || item.owner_email || '',\n    subject: `Forecast Coach — ${item.leader_name || 'Sales Leader'}`,\n    plain_text: cleaned || 'No structured coaching summary returned.',\n    html_body: `<p>${(cleaned || 'No structured coaching summary returned.').replace(/[&<>]/g, (char) => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;' }[char]))}</p>`,\n    should_send: Boolean(item.leader_email || item.owner_email),\n    summary_detail: 'Fallback coaching summary used.',\n    focus_deals: []\n  };\n}\nif (parsed.should_send === false) {\n  return [];\n}\nconst leaderEmail = parsed.leader_email || item.leader_email || item.owner_email || '';\nif (!leaderEmail) {\n  return [];\n}\nreturn [{ json: {\n  ...item,\n  leader_name: parsed.leader_name || item.leader_name || item.owner || 'Sales Leader',\n  leader_email: leaderEmail,\n  subject: parsed.subject || `Forecast Coach — ${parsed.leader_name || item.leader_name || 'Sales Leader'}`,\n  plain_text: parsed.plain_text || 'No structured coaching summary returned.',\n  html_body: parsed.html_body || `<p>${(parsed.plain_text || 'No structured coaching summary returned.').replace(/[&<>]/g, (char) => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;' }[char]))}</p>`,\n  from_email: item.from_email || 'success@backstory.ai',\n  summary_detail: parsed.summary_detail || '',\n  focus_deals: Array.isArray(parsed.focus_deals) ? parsed.focus_deals : []\n} }];"
      },
      "id": "fc-parse",
      "name": "Parse Coaching Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        80
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.from_email }}",
        "toEmail": "={{ $json.leader_email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fc-send-email",
      "name": "Send Coaching Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        840,
        80
      ],
      "credentials": {
        "smtp": {
          "id": "connect-your-credential",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Leader Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leader Source Contract": {
      "main": [
        [
          {
            "node": "Load Leader Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Leader Inputs": {
      "main": [
        [
          {
            "node": "Build Coaching Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Coaching Prompt": {
      "main": [
        [
          {
            "node": "Generate Coaching Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Coaching Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Generate Coaching Report",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Coaching Report": {
      "main": [
        [
          {
            "node": "Parse Coaching Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Coaching Report": {
      "main": [
        [
          {
            "node": "Send Coaching Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
