22-multi-channel-delivery-router/full.json
{
  "updatedAt": "2026-04-30T00:00:00.000Z",
  "createdAt": "2026-04-30T00:00:00.000Z",
  "id": "22-multi-channel-delivery-router-production",
  "name": "Multi-Channel Delivery Router — Production Template",
  "description": "Receives a formatted workflow insight payload, applies customer routing defaults and the selected delivery adapter pack, and returns a destination-safe delivery recommendation.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-22",
      "name": "Insight Payload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        220
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "multi-channel-delivery-router",
        "responseMode": "lastNode"
      },
      "notes": "Receive a formatted workflow payload plus routing metadata from another workflow, app, queue, or API.",
      "notesInFlow": true
    },
    {
      "id": "params-22",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "routingStoreUrl",
              "type": "string",
              "value": "={{ $env.MCDR_ROUTING_STORE_URL || \"\" }}"
            },
            {
              "name": "defaultDestination",
              "type": "string",
              "value": "email"
            },
            {
              "name": "defaultDeliveryAdapterPackId",
              "type": "string",
              "value": "delivery.slack.account-routing"
            },
            {
              "name": "assetRegistryUrl",
              "type": "string",
              "value": "={{ $env.MCDR_ASSET_REGISTRY_URL || \"\" }}"
            },
            {
              "name": "fallbackWebhookUrl",
              "type": "string",
              "value": "={{ $env.MCDR_FALLBACK_WEBHOOK_URL || \"\" }}"
            },
            {
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.MCDR_DRY_RUN !== \"false\" }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Store routing and identity maps outside the workflow so they can be updated without changing the delivery logic.",
      "notesInFlow": true
    },
    {
      "id": "resolve-22",
      "name": "Resolve Destination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        220
      ],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst params = $('Workflow Parameters').first().json;\nconst customerConfig = payload.customerConfig || payload.stackConfig || {};\nconst routingDefaults = customerConfig.routing_defaults || {};\nconst selectedPacks = Array.isArray(customerConfig.selected_packs) ? customerConfig.selected_packs : [];\nconst adapterPackId = payload.deliveryAdapterPackId || payload.adapterPackId || selectedPacks.find((pack) => pack.role === 'delivery')?.pack_id || params.defaultDeliveryAdapterPackId;\nconst adapterPack = payload.deliveryAdapterPack || payload.adapterPackManifest || {};\nconst metadata = payload.routing || {};\nconst destinationAlias = metadata.preferredDestination || payload.delivery || routingDefaults.default_destination || '';\nconst destination = String(destinationAlias || params.defaultDestination).toLowerCase();\nreturn [{ json: {\n  accountName: payload.accountName || payload.account || customerConfig.customer?.name || 'Unknown Account',\n  audience: payload.audience || 'internal-team',\n  destination,\n  destinationAlias,\n  fallbackDestination: metadata.fallbackDestination || routingDefaults.summary_destination || params.defaultDestination,\n  routingDefaults,\n  adapterPackId,\n  adapterPack,\n  customerConfigRef: payload.customerConfigRef || payload.configRef || '',\n  selectedPackIds: selectedPacks.map((pack) => pack.pack_id).filter(Boolean),\n  rawPayload: payload,\n  fallbackWebhookUrl: params.fallbackWebhookUrl\n} }];"
      },
      "notes": "Use account, owner, role, team, or customer-tier metadata to pick the preferred destination surface.",
      "notesInFlow": true
    },
    {
      "id": "adapt-22",
      "name": "Adapt for Channel",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        220
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Adapt this workflow insight for the requested delivery surface.\n\nDestination: {{ $json.destination }}\nDestination alias: {{ $json.destinationAlias }}\nAudience: {{ $json.audience }}\nCustomer config ref: {{ $json.customerConfigRef }}\nRouting defaults: {{ JSON.stringify($json.routingDefaults, null, 2) }}\nDelivery adapter pack ID: {{ $json.adapterPackId }}\nAdapter pack manifest: {{ JSON.stringify($json.adapterPack, null, 2) }}\nPayload: {{ JSON.stringify($json.rawPayload, null, 2) }}\n\nReturn:\n- destination-safe message body\n- any fallback destination if the preferred one fails\n- notable formatting constraints for Slack, Teams, email, or webhook delivery\n- any routing gaps caused by missing customer-config defaults or adapter-pack metadata",
        "options": {
          "systemMessage": "You are a delivery routing assistant that uses customer config and delivery adapter-pack metadata to keep workflow delivery reusable."
        }
      },
      "notes": "Use this step to rewrite Slack-first markdown into Teams cards, email-safe copy, or generic webhook payloads.",
      "notesInFlow": true
    },
    {
      "id": "model-22",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -320,
        40
      ],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "deliver-22",
      "name": "Send Routed Payload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.fallbackWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { accountName: $json.accountName, destination: $json.destination, adapterPackId: $json.adapterPackId, customerConfigRef: $json.customerConfigRef, routedPayload: $json.output || $json.text || \"Routing required\" } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "notes": "Replace this with first-party Slack, Teams, SMTP, or webhook nodes based on the destination you resolved upstream.",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "configure-http-auth",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "mcdr-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -140,
        440
      ],
      "notes": "Backstory MCP is available only for factual library, account, and workflow enrichment. It must not perform delivery side effects.",
      "notesInFlow": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "MCDR-deliver-22-gate-1",
              "leftValue": "={{ $('Workflow Parameters').first().json.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "MCDR-deliver-22-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mcdr-delivery-gate-deliver-22",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        220
      ]
    }
  ],
  "connections": {
    "Insight Payload Webhook": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Resolve Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Destination": {
      "main": [
        [
          {
            "node": "Adapt for Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Adapt for Channel",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Adapt for Channel": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Adapt for Channel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Send Routed Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22-multi-channel-delivery-router-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  }
}
