01-sales-digest/starter.json
{
  "name": "Sales Digest — Demo Starter",
  "description": "Personalized weekday sales digest using shared source, identity, delivery, and observability contracts with bounded Backstory MCP enrichment and native Slack delivery.",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "01-sales-digest-starter-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": true
  },
  "id": "01-sales-digest-starter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1-5"
            }
          ]
        }
      },
      "id": "sd-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1320,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sd-cfg-1",
              "name": "workflow_id",
              "type": "string",
              "value": "01-sales-digest"
            },
            {
              "id": "sd-cfg-2",
              "name": "workflow_name",
              "type": "string",
              "value": "Sales Digest"
            },
            {
              "id": "sd-cfg-3",
              "name": "mode",
              "type": "string",
              "value": "starter"
            },
            {
              "id": "sd-cfg-4",
              "name": "trigger_type",
              "type": "string",
              "value": "schedule"
            },
            {
              "id": "sd-cfg-5",
              "name": "lookback_hours",
              "type": "number",
              "value": 24
            },
            {
              "id": "sd-cfg-6",
              "name": "max_subscribers",
              "type": "number",
              "value": 2
            },
            {
              "id": "sd-cfg-7",
              "name": "dry_run",
              "type": "boolean",
              "value": true
            },
            {
              "id": "sd-cfg-8",
              "name": "source_api_base_url",
              "type": "string",
              "value": ""
            },
            {
              "id": "sd-cfg-9",
              "name": "source_bearer_token",
              "type": "string",
              "value": ""
            },
            {
              "id": "sd-cfg-10",
              "name": "default_channel_id",
              "type": "string",
              "value": ""
            },
            {
              "id": "sd-cfg-11",
              "name": "summary_channel_id",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "sd-configuration",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sd-src-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "sd-src-2",
              "name": "source_system",
              "type": "string",
              "value": "sales_digest_subscribers"
            },
            {
              "id": "sd-src-3",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $json.source_api_base_url }}"
            },
            {
              "id": "sd-src-4",
              "name": "source_bearer_token",
              "type": "string",
              "value": "={{ $json.source_bearer_token }}"
            },
            {
              "id": "sd-src-5",
              "name": "source_path",
              "type": "string",
              "value": "/sales-digest/subscribers"
            },
            {
              "id": "sd-src-6",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "sd-src-7",
              "name": "source_body",
              "type": "json",
              "value": "={{ { lookback_hours: $json.lookback_hours, limit: $json.max_subscribers } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sd-source-contract",
      "name": "Subscriber Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const runContext = $input.first().json.run_context || $input.first().json;\nreturn [\n  { json: { source_id: 'demo-sub-1', owner: 'sarah.chen', account_name: 'Globex Industries', raw_record: { subscriber_name: 'Sarah Chen', owner_email: 'sarah.chen@example.test', slack_channel_id: '', accounts: [{ name: 'Globex Industries', stage: 'Negotiation', amount: 340000, last_activity_days: 1 }] }, run_context: runContext } },\n  { json: { source_id: 'demo-sub-2', owner: 'david.park', account_name: 'Initech', raw_record: { subscriber_name: 'David Park', owner_email: 'david.park@example.test', slack_channel_id: '', accounts: [{ name: 'Initech', stage: 'Technical Validation', amount: 128000, last_activity_days: 6 }] }, run_context: runContext } }\n];"
      },
      "id": "sd-load-subscribers",
      "name": "Load Digest Subscribers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        180
      ],
      "notes": "Demo Starter: loads fictional subscriber fixtures locally. No source system or delivery destination is contacted.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sd-prompt-1",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON only with keys subscriber_name, headline, pipeline_movement, engagement_highlights, recommended_actions, and missing_data. The three detail fields must be arrays of short strings.\n\nCreate a personalized daily sales digest from this subscriber packet. Use Backstory MCP only to enrich account, opportunity, activity, and stakeholder context. Do not route or deliver messages.\n\nRun context:\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\n\nSubscriber packet:\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}\n\nRules:\n- Use only supported facts.\n- Include concrete dates, owners, stages, and amounts when present.\n- Put the most urgent action first.\n- If evidence is missing, list it in missing_data rather than inventing it.\n- Keep each item short enough for Slack."
            }
          ]
        },
        "options": {}
      },
      "id": "sd-build-prompt",
      "name": "Build Digest Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are a sales intelligence analyst. Use Backstory MCP only for enrichment. Return valid JSON; keep routing and delivery deterministic."
        }
      },
      "id": "sd-agent",
      "name": "Generate Sales Digest",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        180
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "sd-anthropic",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        20,
        420
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "sd-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        220,
        420
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || '{}';\nconst cleaned = String(raw).trim().replace(/^```json\\s*/i, '').replace(/^```/, '').replace(/```$/, '').trim();\nlet digest;\ntry { digest = JSON.parse(cleaned); } catch { digest = { subscriber_name: item.owner || 'Sales teammate', headline: 'Daily sales digest', pipeline_movement: [], engagement_highlights: [], recommended_actions: ['Review source activity manually.'], missing_data: ['The model response was not valid JSON.'] }; }\nconst list = (value) => Array.isArray(value) ? value.filter(Boolean).map(String) : [];\nconst section = (title, values) => values.length ? [title, ...values.map((value) => `• ${value}`)].join('\\n') : '';\nconst pipeline = list(digest.pipeline_movement); const engagement = list(digest.engagement_highlights); const actions = list(digest.recommended_actions); const missing = list(digest.missing_data);\nconst body = [`☀️ *${digest.headline || 'Daily Sales Digest'}*`, section('*Pipeline movement*', pipeline), section('*Engagement highlights*', engagement), section('*Recommended actions*', actions), missing.length ? `_Missing data: ${missing.join('; ')}_` : ''].filter(Boolean).join('\\n\\n');\nconst runContext = item.run_context || {}; const source = item.raw_record || {};\nreturn [{ json: { ...item, workflow_id: '01-sales-digest', workflow_name: 'Sales Digest', run_context: runContext, target_type: 'channel', target_id: source.slack_channel_id || source.channel_id || runContext.default_channel_id || '', delivery_title: digest.headline || 'Daily Sales Digest', delivery_body: body, delivery_format: 'mrkdwn', thread_key: `sales-digest:${item.source_id || item.owner || 'subscriber'}`, dedupe_key: `01-sales-digest:${item.source_id || item.owner || 'subscriber'}:${new Date().toISOString().slice(0, 10)}`, summary_channel_id: runContext.summary_channel_id || '', summary_detail: `Prepared digest for ${digest.subscriber_name || item.owner || 'subscriber'}.` } }];"
      },
      "id": "sd-parse",
      "name": "Parse Structured Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_IDENTITY_ROUTING_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "sd-resolve-target",
      "name": "Resolve Delivery Target",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_DELIVERY_RENDERER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "sd-render-delivery",
      "name": "Render Delivery Payload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "sd-gate-1",
              "leftValue": "={{ $json.run_context.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "sd-gate-2",
              "leftValue": "={{ $json.delivery_payload.target_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sd-delivery-gate",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1160,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.delivery_payload.target_id }}"
        },
        "text": "={{ $json.delivery_payload.body }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "sd-post-slack",
      "name": "Post Personal Digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1440,
        100
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_RUN_SUMMARY_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "sd-run-summary",
      "name": "Record Run Summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1720,
        180
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Subscriber Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subscriber Source Contract": {
      "main": [
        [
          {
            "node": "Load Digest Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Digest Subscribers": {
      "main": [
        [
          {
            "node": "Build Digest Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Prompt": {
      "main": [
        [
          {
            "node": "Generate Sales Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Sales Digest",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Generate Sales Digest",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sales Digest": {
      "main": [
        [
          {
            "node": "Parse Structured Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structured Digest": {
      "main": [
        [
          {
            "node": "Resolve Delivery Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Delivery Target": {
      "main": [
        [
          {
            "node": "Render Delivery Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Delivery Payload": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Post Personal Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Personal Digest": {
      "main": [
        [
          {
            "node": "Record Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
