01-sales-digest/starter.json
{
  "updatedAt": "2026-04-29T16:58:33.963Z",
  "createdAt": "2026-04-29T16:58:33.963Z",
  "id": "9e85112e-fe50-41",
  "name": "Sales Digest - Backstory Starter — Demo Starter",
  "description": "Generates a personalized daily sales digest for each enrolled user. At 6 AM on weekdays, the workflow retrieves the list of digest subscribers from the User Config Store, queries Backstory via MCP for each user's relevant account and opportunity activity, then passes the data to the LLM to compose a concise, actionable summary. The finished digest is delivered via Messaging (Slack, Teams, or Email) to each user.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-01-sales-digest",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1184,
        256
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1-5"
            }
          ]
        }
      },
      "notes": "Schedule — 6:00 AM weekdays                        |",
      "notesInFlow": true
    },
    {
      "id": "config-01-sales-digest",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        256
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack-channel",
              "name": "slackChannelId",
              "type": "string",
              "value": "YOUR_SLACK_CHANNEL_ID"
            },
            {
              "id": "lookback-days",
              "name": "lookbackDays",
              "type": "number",
              "value": 1
            },
            {
              "id": "workflow-owner",
              "name": "workflowOwner",
              "type": "string",
              "value": "revops@your-company.com"
            },
            {
              "id": "test-mode",
              "name": "testMode",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "notes": "Fetch enrolled digest subscribers plus their watched accounts before enriching each account via Backstory. Replace the placeholder API endpoints and tokens with real systems before enabling this workflow.",
      "notesInFlow": true
    },
    {
      "id": "source-01-sales-digest",
      "name": "Fetch Source Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        256
      ],
      "parameters": {
        "jsCode": "return [{\"json\":{\"id\":\"demo-sub-1\",\"name\":\"RevOps Daily\",\"channel\":\"YOUR_SLACK_CHANNEL_ID\",\"owner\":\"revops@your-company.com\"}},{\"json\":{\"id\":\"demo-sub-2\",\"name\":\"AE Pod West\",\"channel\":\"YOUR_SLACK_CHANNEL_ID\",\"owner\":\"sarah.chen@your-company.com\"}}];"
      },
      "notes": "Demo Starter: returns offline sample records so the workflow runs without a connected system. Replace with the production native source node (see full.json) before go-live.",
      "notesInFlow": true
    },
    {
      "id": "normalize-01-sales-digest",
      "name": "Normalize Source Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        256
      ],
      "parameters": {
        "jsCode": "const payload = $json;\nconst collections = [payload.records, payload.items, payload.data, payload.subscribers, payload.emails, payload.accounts, payload.deals, payload.meetings, payload.mqls].filter(Boolean);\nconst rawItems = Array.isArray(collections[0]) ? collections[0] : (Array.isArray(payload.body?.items) ? payload.body.items : []);\nconst fallback = rawItems.length ? rawItems : [payload.body || payload];\nreturn fallback.filter(Boolean).map((record, index) => ({\n  json: {\n    workflowId: '01-sales-digest',\n    workflowName: 'Sales Digest',\n    sourceKind: 'subscriber activity',\n    recordIndex: index + 1,\n    record,\n    recordSummary: record.name || record.subject || record.accountName || record.opportunityName || record.email || record.id || 'source-record-' + (index + 1)\n  }\n}));"
      },
      "notes": "Converts raw subscriber activity responses into one item per record for downstream AI analysis.",
      "notesInFlow": true
    },
    {
      "id": "agent-01-sales-digest",
      "name": "Analyze Sales Digest",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -64,
        160
      ],
      "parameters": {
        "promptType": "define",
        "text": "=You are generating the Sales Digest workflow output.\n\nPURPOSE:\nGenerates a personalized daily sales digest for each enrolled user. At 6 AM on weekdays, the workflow retrieves the list of digest subscribers from the User Config Store, queries Backstory via MCP for each user's relevant account and opportunity activity, then passes the data to the LLM to compose a concise, actionable summary. The finished digest is delivered via Messaging (Slack, Teams, or Email) to each user.\n\nSOURCE PAYLOAD:\n{{ JSON.stringify($json.record, null, 2) }}\n\nTASKS:\n1. Use Backstory MCP to enrich the record with the most relevant account, opportunity, engagement, or stakeholder context.\n2. Decide what matters most for the sales digest use case.\n3. Produce a concise markdown summary with: headline, key findings, risks, recommended actions, and routing notes if applicable.\n\nOUTPUT REQUIREMENTS:\n- Keep it compact enough for Slack.\n- Prefer bullets.\n- Mention concrete dates, owners, amounts, or stages when the data provides them.\n- If the source record is incomplete, explicitly say what is missing.\n\nREFERENCE STYLE:\n☀️ **Good Morning, @sarah.chen** — Here's your daily digest for **Tuesday, Mar 4**\n\n📊 **PIPELINE MOVEMENT:**\n- **ACME Corp** ===$425,000=== moved to Technical Validation — @james.park scheduled POC for Thursday\n- **Globex Industries** ===$180,000=== — Procurement sent redlines on MSA, legal review needed by EOD Wednesday\n- **Initech** ===$92,000=== went dark after demo last Tuesday — 6 days no response from champion\n\n🔔 **ENGAGEMENT HIGHLIGHTS:**\n- @mike.torres (VP Sales, NovaTech) opened your proposal deck 3x yesterday, forwarded to CFO\n- New inbound: Director of Ops at Contoso downloaded whitepaper + visited pricing page",
        "options": {
          "systemMessage": "You are a Backstory workflow analyst generating Sales Digest outputs. Keep the response actionable, concrete, and Slack-friendly."
        }
      },
      "alwaysOutputData": true,
      "notes": "Wire your preferred LLM credentials to the chat model node after import.",
      "notesInFlow": true
    },
    {
      "id": "model-01-sales-digest",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        160,
        32
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "mcp-01-sales-digest",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        160,
        256
      ],
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "notes": "This mirrors the existing workflow infrastructure in the repo. Add MCP auth headers after import.",
      "notesInFlow": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "id": "parse-01-sales-digest",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        160
      ],
      "parameters": {
        "jsCode": "const item = $json;\nconst text = item.output || item.response || item.text || '';\nreturn [{ json: { ...item, analysis: text.trim() } }];"
      }
    },
    {
      "id": "aggregate-01-sales-digest",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        160
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst title = \"☀️ **Good Morning, @sarah.chen** — Here's your daily digest for **Tuesday, Mar 4**\";\nconst sections = items.map((item, idx) => {\n  const name = item.json.recordSummary || 'Record ' + (idx + 1);\n  const analysis = (item.json.analysis || '').trim() || '_No analysis returned._';\n  return '• *' + name + '*\\n' + analysis;\n});\nconst body = [title, '', ...sections].join('\\n\\n');\nreturn [{ json: { workflowId: '01-sales-digest', workflowName: 'Sales Digest', messageBody: body, itemCount: items.length } }];"
      },
      "notes": "Collapses all analyzed records into a single outbound summary. Replace this with per-owner routing if you want one message per rep/CSM/executive.",
      "notesInFlow": true
    },
    {
      "id": "merge-config-01-sales-digest",
      "name": "Attach Delivery Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        160
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      }
    },
    {
      "id": "slack-payload-01-sales-digest",
      "name": "Build Slack Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        160
      ],
      "parameters": {
        "jsCode": "const text = $json.messageBody;\nconst payload = {\n  channel: $json.slackChannelId || $json.channel || 'YOUR_SLACK_CHANNEL_ID',\n  text,\n  blocks: [{ type: 'section', text: { type: 'mrkdwn', text: text.length > 3000 ? text.slice(0, 2997) + '...' : text } }],\n  unfurl_links: false,\n  unfurl_media: false\n};\nreturn [{ json: { slackPayload: JSON.stringify(payload) } }];"
      }
    },
    {
      "id": "slack-01-sales-digest",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1056,
        160
      ],
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ JSON.parse($json.slackPayload).channel }}"
        },
        "text": "={{ JSON.parse($json.slackPayload).text || JSON.parse($json.slackPayload).blocks?.[0]?.text?.text || \"\" }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "notes": "Converted from raw Slack HTTP delivery to the native Slack node.",
      "notesInFlow": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Fetch Source Records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach Delivery Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Source Records": {
      "main": [
        [
          {
            "node": "Normalize Source Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Source Records": {
      "main": [
        [
          {
            "node": "Analyze Sales Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sales Digest": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Sales Digest",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Analyze Sales Digest",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Attach Delivery Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Delivery Config": {
      "main": [
        [
          {
            "node": "Build Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Payload": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "triggerCount": 0,
  "versionId": "01-sales-digest-starter"
}
