02-meeting-brief/starter.json
{
  "name": "Meeting Brief — Demo Starter",
  "description": "Prepares evidence-grounded briefs for upcoming external meetings using shared source, identity, delivery, and observability contracts with native Slack delivery.",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "02-meeting-brief-starter-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": true
  },
  "id": "02-meeting-brief-starter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "mb-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1320,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mb-cfg-1",
              "name": "workflow_id",
              "type": "string",
              "value": "02-meeting-brief"
            },
            {
              "id": "mb-cfg-2",
              "name": "workflow_name",
              "type": "string",
              "value": "Meeting Brief"
            },
            {
              "id": "mb-cfg-3",
              "name": "mode",
              "type": "string",
              "value": "starter"
            },
            {
              "id": "mb-cfg-4",
              "name": "trigger_type",
              "type": "string",
              "value": "schedule"
            },
            {
              "id": "mb-cfg-5",
              "name": "window_minutes",
              "type": "number",
              "value": 30
            },
            {
              "id": "mb-cfg-6",
              "name": "lookback_days",
              "type": "number",
              "value": 45
            },
            {
              "id": "mb-cfg-7",
              "name": "max_meetings",
              "type": "number",
              "value": 2
            },
            {
              "id": "mb-cfg-8",
              "name": "dry_run",
              "type": "boolean",
              "value": true
            },
            {
              "id": "mb-cfg-9",
              "name": "source_api_base_url",
              "type": "string",
              "value": ""
            },
            {
              "id": "mb-cfg-10",
              "name": "source_bearer_token",
              "type": "string",
              "value": ""
            },
            {
              "id": "mb-cfg-11",
              "name": "default_channel_id",
              "type": "string",
              "value": ""
            },
            {
              "id": "mb-cfg-12",
              "name": "summary_channel_id",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "mb-configuration",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mb-src-1",
              "name": "run_context",
              "type": "json",
              "value": "={{ $json }}"
            },
            {
              "id": "mb-src-2",
              "name": "source_system",
              "type": "string",
              "value": "upcoming_external_meetings"
            },
            {
              "id": "mb-src-3",
              "name": "source_api_base_url",
              "type": "string",
              "value": "={{ $json.source_api_base_url }}"
            },
            {
              "id": "mb-src-4",
              "name": "source_bearer_token",
              "type": "string",
              "value": "={{ $json.source_bearer_token }}"
            },
            {
              "id": "mb-src-5",
              "name": "source_path",
              "type": "string",
              "value": "/meeting-brief/upcoming"
            },
            {
              "id": "mb-src-6",
              "name": "source_method",
              "type": "string",
              "value": "POST"
            },
            {
              "id": "mb-src-7",
              "name": "source_body",
              "type": "json",
              "value": "={{ { window_minutes: $json.window_minutes, max_meetings: $json.max_meetings, external_only: true, exclude_briefed: true } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mb-source-contract",
      "name": "Meeting Source Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        180
      ],
      "notes": "The source adapter must return only external meetings inside the briefing window and suppress meeting IDs already briefed.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const runContext = $input.first().json.run_context || $input.first().json;\nreturn [\n  { json: { source_id: 'demo-meeting-1', owner: 'sarah.chen', account_name: 'Globex Industries', raw_record: { meeting_id: 'demo-meeting-1', title: 'Globex technical review', starts_at: '2026-07-13T20:00:00Z', owner_name: 'Sarah Chen', owner_slack_user_id: '', account_name: 'Globex Industries', attendees: [{ name: 'Dan Reeves', role: 'VP Engineering', external: true }, { name: 'Lisa Wong', role: 'Director of IT', external: true }], already_briefed: false }, run_context: runContext } },\n  { json: { source_id: 'demo-meeting-2', owner: 'david.park', account_name: 'Initech', raw_record: { meeting_id: 'demo-meeting-2', title: 'Initech renewal sync', starts_at: '2026-07-13T21:00:00Z', owner_name: 'David Park', owner_slack_user_id: '', account_name: 'Initech', attendees: [{ name: 'Priya Shah', role: 'Procurement Director', external: true }], already_briefed: false }, run_context: runContext } }\n];"
      },
      "id": "mb-load-meetings",
      "name": "Load Upcoming Meetings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        180
      ],
      "notes": "Demo Starter: returns fictional upcoming meetings locally. It never reads a calendar or sends a brief.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mb-prompt-1",
              "name": "agent_prompt",
              "type": "string",
              "value": "=Return strict JSON only with keys meeting_title, meeting_time, attendees, account_context, talking_points, watch_for, and missing_data. attendees, account_context, talking_points, watch_for, and missing_data must be arrays of short strings.\n\nCreate a pre-meeting brief from this canonical meeting record. Use Backstory MCP only to enrich account, opportunity, engagement, and stakeholder context. Never send a message or mutate a source system.\n\nRun context:\n{{ JSON.stringify($json.run_context || {}, null, 2) }}\n\nMeeting record:\n{{ JSON.stringify($json.raw_record || $json, null, 2) }}\n\nRules:\n- Use only evidence available in the record or Backstory MCP.\n- Identify attendee roles and engagement history when supported.\n- Prioritize 3-5 concrete talking points.\n- Surface deal risks, missing stakeholders, and deadlines in watch_for.\n- Put unsupported or missing evidence in missing_data instead of inventing it.\n- Keep every item concise enough for Slack."
            }
          ]
        },
        "options": {}
      },
      "id": "mb-build-prompt",
      "name": "Build Meeting Brief Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "options": {
          "systemMessage": "You are a pre-meeting sales intelligence analyst. Use Backstory MCP only for enrichment and return valid JSON. Routing and delivery are deterministic."
        }
      },
      "id": "mb-agent",
      "name": "Generate Meeting Brief",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        180
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "mb-anthropic",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        20,
        420
      ],
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.backstory.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "mb-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        220,
        420
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.output || item.text || item.response || '{}';\nconst cleaned = String(raw).trim().replace(/^```json\\s*/i, '').replace(/^```/, '').replace(/```$/, '').trim();\nlet brief;\ntry { brief = JSON.parse(cleaned); } catch { brief = { meeting_title: item.raw_record?.title || 'Upcoming meeting', meeting_time: item.raw_record?.starts_at || '', attendees: [], account_context: [], talking_points: ['Review the meeting record manually.'], watch_for: [], missing_data: ['The model response was not valid JSON.'] }; }\nconst list = (value) => Array.isArray(value) ? value.filter(Boolean).map(String) : [];\nconst section = (title, values) => values.length ? [title, ...values.map((value) => `• ${value}`)].join('\\n') : '';\nconst attendees = list(brief.attendees); const context = list(brief.account_context); const talking = list(brief.talking_points); const watch = list(brief.watch_for); const missing = list(brief.missing_data);\nconst heading = `📋 *Meeting Brief — ${brief.meeting_title || item.raw_record?.title || 'Upcoming meeting'}*${brief.meeting_time ? ` | ${brief.meeting_time}` : ''}`;\nconst body = [heading, section('*Attendees*', attendees), section('*Account context*', context), section('*Talking points*', talking), section('*Watch for*', watch), missing.length ? `_Missing data: ${missing.join('; ')}_` : ''].filter(Boolean).join('\\n\\n');\nconst source = item.raw_record || {}; const runContext = item.run_context || {}; const meetingId = source.meeting_id || item.source_id || 'meeting';\nreturn [{ json: { ...item, workflow_id: '02-meeting-brief', workflow_name: 'Meeting Brief', run_context: runContext, target_type: source.owner_slack_user_id ? 'user' : 'channel', target_id: source.owner_slack_user_id || source.slack_channel_id || runContext.default_channel_id || '', delivery_title: brief.meeting_title || source.title || 'Meeting Brief', delivery_body: body, delivery_format: 'mrkdwn', thread_key: `meeting-brief:${meetingId}`, dedupe_key: `02-meeting-brief:${meetingId}`, summary_channel_id: runContext.summary_channel_id || '', summary_detail: `Prepared brief for ${source.owner_name || item.owner || 'meeting owner'}; dedupe key ${meetingId}.` } }];"
      },
      "id": "mb-parse",
      "name": "Parse Structured Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_IDENTITY_ROUTING_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "mb-resolve-target",
      "name": "Resolve Delivery Target",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        180
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_DELIVERY_RENDERER_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "mb-render-delivery",
      "name": "Render Delivery Payload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "mb-gate-1",
              "leftValue": "={{ $json.run_context.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "mb-gate-2",
              "leftValue": "={{ $json.delivery_payload.target_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mb-delivery-gate",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1160,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.delivery_payload.target_id }}"
        },
        "text": "={{ $json.delivery_payload.body }}",
        "otherOptions": {
          "unfurl_links": false
        }
      },
      "id": "mb-post-slack",
      "name": "Send Meeting Brief",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1440,
        100
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "connect-your-credential",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BACKSTORY_SHARED_RUN_SUMMARY_ID || \"\" }}"
        },
        "options": {}
      },
      "id": "mb-run-summary",
      "name": "Record Run Summary",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1720,
        180
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Meeting Source Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Source Contract": {
      "main": [
        [
          {
            "node": "Load Upcoming Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Upcoming Meetings": {
      "main": [
        [
          {
            "node": "Build Meeting Brief Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Meeting Brief Prompt": {
      "main": [
        [
          {
            "node": "Generate Meeting Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Meeting Brief",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Generate Meeting Brief",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Meeting Brief": {
      "main": [
        [
          {
            "node": "Parse Structured Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structured Brief": {
      "main": [
        [
          {
            "node": "Resolve Delivery Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Delivery Target": {
      "main": [
        [
          {
            "node": "Render Delivery Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Delivery Payload": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Send Meeting Brief",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meeting Brief": {
      "main": [
        [
          {
            "node": "Record Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
