21-meeting-intelligence-normalizer/full.json
{
  "updatedAt": "2026-04-30T00:00:00.000Z",
  "createdAt": "2026-04-30T00:00:00.000Z",
  "id": "21-meeting-intelligence-normalizer-production",
  "name": "Meeting Intelligence Normalizer — Production Template",
  "description": "Normalizes meeting artifacts using a selected meeting-source adapter pack so Gong, Zoom, Teams, Otter, Fireflies, Fathom, and similar systems emit one canonical source_record payload.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-21",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        220
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 * * * 1-5"
            }
          ]
        }
      },
      "notes": "Poll for new meeting artifacts each hour, or replace with webhooks from Gong, Zoom, Teams, Otter, Fireflies, or Fathom.",
      "notesInFlow": true
    },
    {
      "id": "params-21",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "meetingSourceType",
              "type": "string",
              "value": "Gong"
            },
            {
              "name": "sourceApiBaseUrl",
              "type": "string",
              "value": "={{ $env.MIN_SOURCE_API_BASE_URL || \"\" }}"
            },
            {
              "name": "sourceApiToken",
              "type": "string",
              "value": "={{ $env.MIN_SOURCE_API_TOKEN || \"\" }}"
            },
            {
              "name": "defaultMeetingAdapterPackId",
              "type": "string",
              "value": "meeting_source.gong.meeting-intelligence"
            },
            {
              "name": "assetRegistryUrl",
              "type": "string",
              "value": "={{ $env.MIN_ASSET_REGISTRY_URL || \"\" }}"
            },
            {
              "name": "outputWebhookUrl",
              "type": "string",
              "value": "={{ $env.MIN_OUTPUT_WEBHOOK_URL || \"\" }}"
            },
            {
              "name": "dry_run",
              "type": "boolean",
              "value": "={{ $env.MIN_DRY_RUN !== \"false\" }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Use one profile per source family, or route source-specific calls through a lightweight middleware service.",
      "notesInFlow": true
    },
    {
      "id": "fetch-21",
      "name": "Fetch Meeting Artifacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.sourceApiBaseUrl + '/meeting-intelligence/recent' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.sourceApiToken }}"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "notes": "Fetch events, transcripts, action items, and attendee metadata from your chosen meeting/note system.",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "configure-http-auth",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "id": "normalize-21",
      "name": "Normalize Meeting Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        220
      ],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst meetings = payload.meetings || payload.items || payload.records || [];\nconst params = $('Workflow Parameters').first().json;\nconst customerConfig = payload.customerConfig || payload.stackConfig || {};\nconst selectedPacks = Array.isArray(customerConfig.selected_packs) ? customerConfig.selected_packs : [];\nconst adapterPackId = payload.meetingAdapterPackId || payload.adapterPackId || selectedPacks.find((pack) => pack.role === 'meeting_source')?.pack_id || params.defaultMeetingAdapterPackId;\nconst adapterPack = payload.meetingAdapterPack || payload.adapterPackManifest || {};\nconst fieldOverrides = payload.fieldOverrides || customerConfig.field_overrides?.meeting_source || {};\nreturn meetings.map((meeting, index) => ({ json: {\n  recordIndex: index + 1,\n  sourceType: payload.meetingSourceType || params.meetingSourceType,\n  adapterPackId,\n  adapterPack,\n  customerConfigRef: payload.customerConfigRef || payload.configRef || '',\n  fieldOverrides,\n  canonical: {\n    meetingTitle: meeting.title || meeting.subject || meeting.name || `meeting-${index + 1}`,\n    meetingStart: meeting.start || meeting.startTime || meeting.startedAt || '',\n    accountName: meeting.accountName || meeting.crmAccount || meeting.company || '',\n    attendees: meeting.attendees || meeting.participants || [],\n    transcriptSummary: meeting.summary || meeting.transcriptSummary || meeting.snippet || '',\n    actionItems: meeting.actionItems || meeting.tasks || [],\n    sourceId: meeting.id || meeting.callId || meeting.eventId || `meeting-${index + 1}`\n  },\n  rawMeeting: meeting\n} }));"
      },
      "notes": "Normalize transcripts, attendees, and action items into a shared shape so briefing, coaching, and QBR workflows can reuse them.",
      "notesInFlow": true
    },
    {
      "id": "agent-21",
      "name": "Run Meeting QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        220
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Review this normalized meeting payload for downstream workflow readiness.\n\nMeeting source: {{ $json.sourceType }}\nMeeting adapter pack ID: {{ $json.adapterPackId }}\nCustomer config ref: {{ $json.customerConfigRef }}\nField overrides: {{ JSON.stringify($json.fieldOverrides, null, 2) }}\nAdapter pack manifest: {{ JSON.stringify($json.adapterPack, null, 2) }}\nCanonical payload: {{ JSON.stringify($json.canonical, null, 2) }}\nRaw payload: {{ JSON.stringify($json.rawMeeting, null, 2) }}\n\nReturn:\n- which signals mapped cleanly\n- attendee or account-association gaps\n- transcript quality risks\n- pack or field-override gaps\n- downstream implications for briefing or coaching workflows",
        "options": {
          "systemMessage": "You are a meeting intelligence normalization reviewer focused on reusable workflow payloads and adapter-pack driven mappings."
        }
      },
      "notes": "Optional QA step that identifies issues before normalized meeting events are reused elsewhere.",
      "notesInFlow": true
    },
    {
      "id": "model-21",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -100,
        40
      ],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "publish-21",
      "name": "Publish Normalized Meeting Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Parameters').first().json.outputWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { source: $json.sourceType, adapterPackId: $json.adapterPackId, customerConfigRef: $json.customerConfigRef, canonical: $json.canonical, meetingQa: $json.output || $json.text || \"\" } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "notes": "Publish the normalized meeting object to the workflows that need it most: meeting prep, QBR prep, handoffs, and coaching.",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "configure-http-auth",
          "name": "HTTP Header Auth"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "id": "min-mcp",
      "name": "Backstory MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        80,
        440
      ],
      "notes": "Backstory MCP is available only for factual library, account, and workflow enrichment. It must not perform delivery side effects.",
      "notesInFlow": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "connect-your-credential",
          "name": "Backstory MCP header auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "MIN-publish-21-gate-1",
              "leftValue": "={{ $('Workflow Parameters').first().json.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "MIN-publish-21-gate-2",
              "leftValue": "={{ Boolean($json) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "min-delivery-gate-publish-21",
      "name": "Delivery Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -100,
        220
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Fetch Meeting Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Meeting Artifacts": {
      "main": [
        [
          {
            "node": "Normalize Meeting Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Meeting Payload": {
      "main": [
        [
          {
            "node": "Run Meeting QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Run Meeting QA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run Meeting QA": {
      "main": [
        [
          {
            "node": "Delivery Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backstory MCP": {
      "ai_tool": [
        [
          {
            "node": "Run Meeting QA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Enabled?": {
      "main": [
        [
          {
            "node": "Publish Normalized Meeting Event",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21-meeting-intelligence-normalizer-production-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": false
  }
}
