21-meeting-intelligence-normalizer/starter.json
{
  "updatedAt": "2026-04-30T00:00:00.000Z",
  "createdAt": "2026-04-30T00:00:00.000Z",
  "id": "21-meeting-intelligence-normalizer-starter",
  "name": "Meeting Intelligence Normalizer — Demo Starter",
  "description": "Normalizes meeting artifacts using a selected meeting-source adapter pack so Gong, Zoom, Teams, Otter, Fireflies, Fathom, and similar systems emit one canonical source_record payload.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-21",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -980,
        220
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 * * * 1-5"
            }
          ]
        }
      },
      "notes": "Poll for new meeting artifacts each hour, or replace with webhooks from Gong, Zoom, Teams, Otter, Fireflies, or Fathom.",
      "notesInFlow": true
    },
    {
      "id": "params-21",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "meetingSourceType",
              "type": "string",
              "value": "Gong"
            },
            {
              "name": "sourceApiBaseUrl",
              "type": "string",
              "value": ""
            },
            {
              "name": "sourceApiToken",
              "type": "string",
              "value": ""
            },
            {
              "name": "defaultMeetingAdapterPackId",
              "type": "string",
              "value": "meeting_source.gong.meeting-intelligence"
            },
            {
              "name": "assetRegistryUrl",
              "type": "string",
              "value": ""
            },
            {
              "name": "outputWebhookUrl",
              "type": "string",
              "value": ""
            },
            {
              "name": "dry_run",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "notes": "Use one profile per source family, or route source-specific calls through a lightweight middleware service.",
      "notesInFlow": true
    },
    {
      "id": "fetch-21",
      "name": "Fetch Meeting Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        220
      ],
      "parameters": {
        "jsCode": "return [{ json: { source_id: 'fictional-21-meeting-intelligence-normalizer-1', customerName: 'Globex Industries', accountName: 'Globex Industries', records: [{ id: 'fictional-1', status: 'test' }], dry_run: true } }];"
      },
      "notes": "Demo Starter: external source replaced with a fictional local fixture.",
      "notesInFlow": true
    },
    {
      "id": "normalize-21",
      "name": "Normalize Meeting Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        220
      ],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst meetings = payload.meetings || payload.items || payload.records || [];\nconst params = $('Workflow Parameters').first().json;\nconst customerConfig = payload.customerConfig || payload.stackConfig || {};\nconst selectedPacks = Array.isArray(customerConfig.selected_packs) ? customerConfig.selected_packs : [];\nconst adapterPackId = payload.meetingAdapterPackId || payload.adapterPackId || selectedPacks.find((pack) => pack.role === 'meeting_source')?.pack_id || params.defaultMeetingAdapterPackId;\nconst adapterPack = payload.meetingAdapterPack || payload.adapterPackManifest || {};\nconst fieldOverrides = payload.fieldOverrides || customerConfig.field_overrides?.meeting_source || {};\nreturn meetings.map((meeting, index) => ({ json: {\n  recordIndex: index + 1,\n  sourceType: payload.meetingSourceType || params.meetingSourceType,\n  adapterPackId,\n  adapterPack,\n  customerConfigRef: payload.customerConfigRef || payload.configRef || '',\n  fieldOverrides,\n  canonical: {\n    meetingTitle: meeting.title || meeting.subject || meeting.name || `meeting-${index + 1}`,\n    meetingStart: meeting.start || meeting.startTime || meeting.startedAt || '',\n    accountName: meeting.accountName || meeting.crmAccount || meeting.company || '',\n    attendees: meeting.attendees || meeting.participants || [],\n    transcriptSummary: meeting.summary || meeting.transcriptSummary || meeting.snippet || '',\n    actionItems: meeting.actionItems || meeting.tasks || [],\n    sourceId: meeting.id || meeting.callId || meeting.eventId || `meeting-${index + 1}`\n  },\n  rawMeeting: meeting\n} }));"
      },
      "notes": "Normalize transcripts, attendees, and action items into a shared shape so briefing, coaching, and QBR workflows can reuse them.",
      "notesInFlow": true
    },
    {
      "id": "agent-21",
      "name": "Run Meeting QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        220
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Review this normalized meeting payload for downstream workflow readiness.\n\nMeeting source: {{ $json.sourceType }}\nMeeting adapter pack ID: {{ $json.adapterPackId }}\nCustomer config ref: {{ $json.customerConfigRef }}\nField overrides: {{ JSON.stringify($json.fieldOverrides, null, 2) }}\nAdapter pack manifest: {{ JSON.stringify($json.adapterPack, null, 2) }}\nCanonical payload: {{ JSON.stringify($json.canonical, null, 2) }}\nRaw payload: {{ JSON.stringify($json.rawMeeting, null, 2) }}\n\nReturn:\n- which signals mapped cleanly\n- attendee or account-association gaps\n- transcript quality risks\n- pack or field-override gaps\n- downstream implications for briefing or coaching workflows",
        "options": {
          "systemMessage": "You are a meeting intelligence normalization reviewer focused on reusable workflow payloads and adapter-pack driven mappings."
        }
      },
      "notes": "Optional QA step that identifies issues before normalized meeting events are reused elsewhere.",
      "notesInFlow": true
    },
    {
      "id": "model-21",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -100,
        40
      ],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "id": "connect-your-credential",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "publish-21",
      "name": "Publish Normalized Meeting Event",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 2,
      "position": [
        120,
        220
      ],
      "parameters": {
        "jsonBody": "={{ { source: $json.sourceType, adapterPackId: $json.adapterPackId, customerConfigRef: $json.customerConfigRef, canonical: $json.canonical, meetingQa: $json.output || $json.text || \"\" } }}"
      },
      "notes": "Demo Starter: external delivery is disabled.",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Fetch Meeting Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Meeting Artifacts": {
      "main": [
        [
          {
            "node": "Normalize Meeting Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Meeting Payload": {
      "main": [
        [
          {
            "node": "Run Meeting QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Run Meeting QA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run Meeting QA": {
      "main": [
        [
          {
            "node": "Publish Normalized Meeting Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21-meeting-intelligence-normalizer-starter-v3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "demoStarter": true
  }
}
