28-rollout-readiness-scorecard/starter.json
{
  "updatedAt": "2026-05-10T00:00:00.000Z",
  "createdAt": "2026-05-10T00:00:00.000Z",
  "id": "28-rollout-readiness-scorecard-starter",
  "name": "Rollout Readiness Scorecard - Backstory Starter",
  "description": "Scores whether a customer stack is actually ready for workflow deployment before launch.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-28",
      "name": "Readiness Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-980, 220],
      "parameters": {
        "httpMethod": "POST",
        "path": "rollout-readiness-scorecard",
        "responseMode": "lastNode"
      },
      "notes": "Receive a readiness request for a workflow family, customer stack, and launch plan.",
      "notesInFlow": true
    },
    {
      "id": "params-28",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-760, 220],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "launchThreshold",
              "type": "number",
              "value": 80
            },
            {
              "name": "pilotThreshold",
              "type": "number",
              "value": 60
            },
            {
              "name": "deliveryWebhookUrl",
              "type": "string",
              "value": "https://hooks.slack.com/services/YOUR/WEBHOOK"
            }
          ]
        },
        "options": {}
      },
      "notes": "Keep readiness thresholds configurable so the same assessment model can support strict enterprise launches and lighter pilot programs.",
      "notesInFlow": true
    },
    {
      "id": "normalize-28",
      "name": "Normalize Readiness Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-540, 220],
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nreturn [{ json: {\n  workflowFamily: payload.workflowFamily || payload.workflow || 'Unknown Workflow',\n  crm: payload.crm || 'unknown',\n  meetingSource: payload.meetingSource || payload.noteTaker || 'unknown',\n  delivery: payload.delivery || 'unknown',\n  identityLayer: payload.identityLayer || 'unspecified',\n  securityStatus: payload.securityStatus || 'unknown',\n  operationalOwner: payload.operationalOwner || 'unassigned',\n  blockers: payload.blockers || [],\n  launchThreshold: $('Workflow Parameters').first().json.launchThreshold,\n  pilotThreshold: $('Workflow Parameters').first().json.pilotThreshold,\n  deliveryWebhookUrl: $('Workflow Parameters').first().json.deliveryWebhookUrl\n} }];"
      },
      "notes": "Convert the intake into a consistent readiness object across connectors, ownership, identity, security, and QA dimensions.",
      "notesInFlow": true
    },
    {
      "id": "score-28",
      "name": "Score Readiness",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-320, 220],
      "parameters": {
        "promptType": "define",
        "text": "=Create a rollout readiness scorecard.\n\nWorkflow family: {{ $json.workflowFamily }}\nCRM: {{ $json.crm }}\nMeeting source: {{ $json.meetingSource }}\nDelivery: {{ $json.delivery }}\nIdentity layer: {{ $json.identityLayer }}\nSecurity status: {{ $json.securityStatus }}\nOperational owner: {{ $json.operationalOwner }}\nBlockers: {{ JSON.stringify($json.blockers) }}\nPilot threshold: {{ $json.pilotThreshold }}\nLaunch threshold: {{ $json.launchThreshold }}\n\nReturn:\n- readiness score and recommendation\n- passed prerequisites and blockers\n- manual work remaining\n- pilot, launch, and monitoring checkpoints",
        "options": {
          "systemMessage": "You are a rollout readiness assessment assistant that decides whether a workflow can safely pilot or launch."
        }
      },
      "notes": "Use this step to translate raw prerequisites into a go, pilot, or block recommendation with mitigation guidance.",
      "notesInFlow": true
    },
    {
      "id": "model-28",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [-320, 40],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      }
    },
    {
      "id": "deliver-28",
      "name": "Deliver Readiness Scorecard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-100, 220],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.deliveryWebhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { workflowFamily: $json.workflowFamily, crm: $json.crm, delivery: $json.delivery, readiness: $json.output || $json.text || 'Readiness assessment required' } }}"
      },
      "notes": "Replace this with Slack, Teams, Jira, or another implementation planning surface for launch governance.",
      "notesInFlow": true
    }
  ],
  "connections": {
    "Readiness Intake Webhook": {
      "main": [[{ "node": "Workflow Parameters", "type": "main", "index": 0 }]]
    },
    "Workflow Parameters": {
      "main": [[{ "node": "Normalize Readiness Request", "type": "main", "index": 0 }]]
    },
    "Normalize Readiness Request": {
      "main": [[{ "node": "Score Readiness", "type": "main", "index": 0 }]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{ "node": "Score Readiness", "type": "ai_languageModel", "index": 0 }]]
    },
    "Score Readiness": {
      "main": [[{ "node": "Deliver Readiness Scorecard", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "starter-28",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
